<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.user.mapper.EmailMapper">
    <resultMap id="BaseResultMap" type="com.pj.partner.pojo.PartnerDetails" >
    <!-- email 需求 字段 ： 序号 代码 助记码 中文全称 中文简称 英文全称 英文简称 提醒接受者 业务范畴 合作伙伴分类  -->
    <result  column="ID" property="id" jdbcType="INTEGER" />
    <result  column="code" property="code" jdbcType="VARCHAR" />
    <result  column="mnemonic_code" property="mnemonicCode" jdbcType="VARCHAR" />
    <result  column="chinese_name" property="chineseName" jdbcType="VARCHAR" />
    <result  column="chinese_abbreviation" property="chineseAbbreviation" jdbcType="VARCHAR" />
    <result  column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result  column="english_abbreviation" property="englishAbbreviation" jdbcType="VARCHAR" />
    <result  column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result  column="scope_business" property="scopeBusiness" jdbcType="VARCHAR" />
    <result  column="partner_category" property="partnerCategory" jdbcType="VARCHAR" />
    <result  column="receiver_id" property="receiverId" jdbcType="INTEGER" />
    <result  column="create_date" property="createDate" jdbcType="DATE" />
    <result  column="maturity_date_began" property="maturityDateBegan" jdbcType="DATE" />
    <result  column="maturity_date_end" property="maturityDateEnd" jdbcType="DATE" />
</resultMap>

    <!-- sql -->
    <sql id="baseSelect_email">
        ID ,code , receiver_id, mnemonic_code , chinese_name  ,chinese_abbreviation  , english_name    ,
        english_abbreviation  , receiver_name  ,scope_business ,partner_category , create_date
        ,maturity_date_began,maturity_date_end
    </sql>

        <select id="findPartnerDetailsLastMonthDate" resultMap="BaseResultMap">
            SELECT
                        <include refid="baseSelect_email"></include>
            FROM
                        partner_details
            WHERE
                        date_format(create_date,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y-%m')

        </select>

            <select id="findPartnerDetailsGsigningInTransit"  resultMap="BaseResultMap">
                SELECT
                            <include refid="baseSelect_email"></include>
                FROM
                           partner_details
                WHERE
                          instr(wbkh_credit_rating,"签约在途")>0
                AND           DATEDIFF(now(),create_date)   &gt;= 15
                ORDER BY
                            receiver_id desc
            </select>
    <!-- 获取 即将到期的Partner清单  小于 等于  当前日期 45 天 -->
            <select id="findPartnerDetailsLastIsAboutToExpire"  resultMap="BaseResultMap">
                SELECT
                            <include refid="baseSelect_email"></include>
                FROM
                           partner_details
                WHERE
                              DATEDIFF(now(),maturity_date_end)   &lt;= 45
                ORDER BY
                            receiver_id desc
            </select>
</mapper>