<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.auth.mapper.AuthPostMenuMapper">
    <resultMap id="BaseResultMap" type="com.pj.auth.pojo.AuthPostMenuVo" >
        <result  column="id" property="id" jdbcType="INTEGER" />
        <result  column="name" property="name" jdbcType="VARCHAR" />
        <result  column="is_menu" property="isMenu" jdbcType="INTEGER" />
        <result  column="href" property="href" jdbcType="VARCHAR" />
        <result  column="p_id" property="pId" jdbcType="INTEGER" />
        <result  column="post_id" property="postId" jdbcType="INTEGER" />
        <result  column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result  column="checks" property="checks" jdbcType="INTEGER" />
    </resultMap>

    <select id="findMenuByPostId" resultMap="BaseResultMap">
        SELECT
            *,IF(apm.menu_id is not NULL, '1' , '0') checks
        FROM
        auth_menu am
        left JOIN auth_post_menu apm ON apm.menu_id = am.id AND apm.post_id = #{postId}
        <if test="menuIds != null">
            WHERE
            am.p_id
            <foreach  collection="menuIds" item="id" open="in (" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP  BY  am.ID
        order BY  am.id
    </select>
    <select id="findMenuOrButtonByPostId" resultMap="BaseResultMap">
        SELECT * FROM auth_menu am inner JOIN auth_post_menu apm ON apm.menu_id = am.id AND apm.post_id = #{postId}  AND am.is_menu =#{isMenu}
        <if test="menuId != null">
             AND am.p_id = #{menuId}
        </if>
        ORDER  BY  am.id
       <!-- <choose>
            <when test="isMenu == ture">
                AND am.is_menu =1
            </when>
            <otherwise>
                AND am.is_menu =0
            </otherwise>
        </choose>-->
    </select>
    
    <select id="findMenuOrButtonByUserId" resultMap="BaseResultMap">
        select * from auth_menu am 
        <where>
           am.id in(select auth_id from user_menu where user_menu.user_id=#{userId})
           AND am.is_menu =#{isMenu} 
           <if test="menuId != null">
                AND am.p_id = #{menuId}
           </if>
                ORDER  BY  am.id
        </where>
    
    </select>
    
    <select id="selectVOByUserId" resultMap="BaseResultMap">
		SELECT
		*, CASE WHEN    IFNULL(user_menu.auth_id,0)=0 THEN 0 ELSE 1 end
		 AS checks
		FROM
		    auth_menu
		LEFT JOIN user_menu ON auth_menu.id = user_menu.auth_id
		AND user_menu.user_id = #{userId}
        GROUP  BY  auth_menu.id
        order BY  auth_menu.id;
    </select>
    <select id="selectMenuVos" resultMap="BaseResultMap">
          	SELECT
            *,IF(apm.menu_id is not NULL, '1' , '0') checks
        FROM
        auth_menu am
        left JOIN auth_post_menu apm ON apm.menu_id = am.id  AND apm.post_id = #{postId}
				WHERE am.is_menu = 1

    </select>
</mapper>