#credit .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#credit .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#credit .content .thead-outer .thead-core {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#credit .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#credit .content .thead-outer .thead-core .thead-content .no {
  width: 5%;
}
#credit .content .thead-outer .thead-core .thead-content .class {
  width: 10%;
}
#credit .content .thead-outer .thead-core .thead-content .protocolType {
  width: 25%;
}
#credit .content .thead-outer .thead-core .thead-content .valid {
  width: 10%;
}
#credit .content .thead-outer .thead-core .thead-content .remark {
  width: 30%;
}
#credit .content .body-box .bodyList {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}
#credit .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#credit .content .body-box .bodyList .no {
  width: 5%;
}
#credit .content .body-box .bodyList .class {
  width: 10%;
}
#credit .content .body-box .bodyList .protocolType {
  width: 25%;
}
#credit .content .body-box .bodyList .valid {
  width: 10%;
}
#credit .content .body-box .bodyList .remark {
  width: 30%;
}
#credit .content #editBtn {
  display: none;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  bottom: -250px;
  margin-bottom: 200px;
}
#credit .content input {
  width: 100%;
  padding-left: 0;
  text-align: center;
}
#credit .content input[type='radio'] {
  margin-right: 2px;
}
#credit .content input[type='checkbox'] {
  margin-right: 2px;
}
#credit .content input[type='button'] {
  width: 100px;
}
#credit .content textarea {
  border: 1px solid #dddddd;
}
#credit .content #cancelClick {
  background-color: #f49633;
}
@media screen and (max-width: 1600px) {
  #credit {
    font-size: 14px;
  }
}
