#hierarchy{
  .content{
    padding: 20px 20px 50px;
    background-color: #fff;
    table{
      width: 100%;
    }
    #remark{
      padding-left: 20px;
      border-bottom: 1px solid #dddddd;
      padding-bottom: 10px;
      p{
        height: 25px;
        line-height: 25px;
        color: @BrightColor;
      }
    }
    .tier{
      .table-header{
        border-bottom: 1px solid #dddddd;
        padding-bottom:10px;
        .list{

        }
        .table-header-box{
          border-bottom: 1px solid #dddddd;
        }
      }
      .selectBox{
        border-bottom: 1px solid #dddddd;
      }
      .item{
        float: left;
        width: 18%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        select{
          width: 140px;
          height: 30px;
          border-radius: 0;
        }
      }
    }
  }
}