#business .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#business .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#business .content .thead-outer .thead-core {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#business .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#business .content .thead-outer .thead-core .thead-content .no {
  width: 10%;
}
#business .content .thead-outer .thead-core .thead-content .business {
  width: 20%;
}
#business .content .thead-outer .thead-core .thead-content .description {
  width: 30%;
}
#business .content .body-box .bodyList {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#business .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#business .content .body-box .bodyList .no {
  width: 10%;
}
#business .content .body-box .bodyList .business {
  width: 20%;
}
#business .content .body-box .bodyList .description {
  width: 30%;
}
#business .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#business .content table {
  width: 100%;
}
#credit .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#credit .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#credit .content .thead-outer .thead-core {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#credit .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#credit .content .thead-outer .thead-core .thead-content .no {
  width: 10%;
}
#credit .content .thead-outer .thead-core .thead-content .class {
  width: 10%;
}
#credit .content .thead-outer .thead-core .thead-content .protocolType {
  width: 30%;
}
#credit .content .thead-outer .thead-core .thead-content .valid {
  width: 10%;
}
#credit .content .body-box .bodyList {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#credit .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#credit .content .body-box .bodyList .no {
  width: 10%;
}
#credit .content .body-box .bodyList .class {
  width: 10%;
}
#credit .content .body-box .bodyList .protocolType {
  width: 30%;
}
#credit .content .body-box .bodyList .valid {
  width: 10%;
}
#hierarchy .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#hierarchy .content table {
  width: 100%;
}
#hierarchy .content #remark {
  padding-left: 20px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#hierarchy .content #remark p {
  height: 25px;
  line-height: 25px;
  color: #ed6e56;
}
#hierarchy .content .tier .table-header {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#hierarchy .content .tier .table-header .table-header-box {
  border-bottom: 1px solid #dddddd;
}
#hierarchy .content .tier .selectBox {
  border-bottom: 1px solid #dddddd;
}
#hierarchy .content .tier .item {
  float: left;
  width: 18%;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
#hierarchy .content .tier .item select {
  width: 140px;
  height: 30px;
  border-radius: 0;
}
#partnerClassify .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#partnerClassify .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#partnerClassify .content .thead-outer .thead-core {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#partnerClassify .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#partnerClassify .content .thead-outer .thead-core .thead-content .no {
  width: 10%;
}
#partnerClassify .content .thead-outer .thead-core .thead-content .partner {
  width: 15%;
}
#partnerClassify .content .thead-outer .thead-core .thead-content .description {
  width: 42%;
}
#partnerClassify .content .body-box .bodyList {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#partnerClassify .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#partnerClassify .content .body-box .bodyList .no {
  width: 10%;
}
#partnerClassify .content .body-box .bodyList .partner {
  width: 15%;
}
#partnerClassify .content .body-box .bodyList .description {
  width: 42%;
}
#partnerManage .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#partnerManage .content .searchBar {
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
}
#partnerManage .content .searchBar input {
  height: 28px;
  width: 268px;
  margin-right: 20px;
}
#partnerManage .content .searchBar label {
  color: #ed6e56;
  margin-right: 120px;
  height: 28px;
}
#partnerManage .content .searchBar .clickLink {
  color: #ed6e56;
  margin-right: 26px;
}
#partnerManage .content .handleBar {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
#partnerManage .content .handleBar .handle-left a {
  margin-right: 36px;
  text-decoration: underline;
}
#partnerManage .content .handleBar .handle-right a {
  margin-left: 60px;
}
#partnerManage .content .handleBar a {
  color: #ed6e56;
}
#homePage .content {
  /*padding: 20px 20px 50px;*/
  color: #666;
  background-color: #f8f7fa;
}
#homePage .content h3 {
  height: 26px;
  color: #ed6e56;
}
#homePage .content .account-setting {
  padding: 10px 20px 20px;
  background-color: #fff;
}
#homePage .content .account-setting > div {
  float: left;
  width: 30%;
  padding-left: 3%;
}
#homePage .content .account-setting > div label {
  margin-right: 0;
}
#homePage .content .account-setting > div em {
  color: #333;
}
#homePage .content .account-setting > div a {
  color: #ed6e56;
  margin-left: 6%;
}
#homePage .content .operation-log {
  padding: 10px 20px 20px;
  background-color: #fff;
  margin-top: 16px;
}
#homePage .content .operation-log .listBox {
  max-height: 420px;
  overflow: auto;
}
#homePage .content .operation-log .o-l-list {
  width: 96%;
  background-color: #f8f7fa;
  margin: 10px auto 0;
  padding: 10px 20px;
}
#homePage .content .operation-log .o-l-list .fl {
  width: 40%;
}
#homePage .content .operation-log .o-l-list .fr {
  width: 60%;
}
#homePage .content .operation-log .o-l-list .fr h4 {
  color: #333;
}
#homePage .content .access-log {
  padding: 10px 20px 20px;
  background-color: #fff;
  margin-top: 16px;
}
#homePage .content .access-log .listBox {
  max-height: 430px;
  overflow: auto;
}
#homePage .content .access-log .a-l-list {
  width: 96%;
  border: 1px solid #ddd;
  margin: 10px auto;
  padding: 10px 20px;
}
#homePage .content .access-log .a-l-list .fl {
  width: 40%;
}
#homePage .content .access-log .a-l-list .fr {
  width: 60%;
}
#homePage .content .access-log .a-l-list .fr h4 {
  color: #333;
}
#user .content {
  /*padding: 20px 20px 50px;*/
  color: #666;
  background-color: #f8f7fa;
}
#user .content .searchBar {
  background-color: #fff;
  padding: 20px;
}
#user .content .searchBar input {
  width: 15%;
  margin-right: 4%;
}
#user .content .searchBar button {
  width: 100px;
  height: 38px;
  background-color: #ed6e56;
}
#user .content .user {
  margin-top: 30px;
  padding: 30px 3%;
  background-color: #fff;
}
#user .content .user .thead-outer {
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#user .content .user .thead-outer .thead-core {
  border-bottom: 1px solid #dddddd;
}
#user .content .user .thead-outer .thead-core > div {
  height: 48px;
  line-height: 48px;
  float: left;
  text-align: center;
}
#user .content .user .body-box .bodyList {
  border-bottom: 1px solid #dddddd;
}
#user .content .user .body-box .bodyList > div {
  padding: 10px 0;
  float: left;
  text-align: center;
}
#user .content .user .loginId {
  width: 8%;
}
#user .content .user .name {
  width: 8%;
}
#user .content .user .number {
  width: 10%;
}
#user .content .user .company {
  width: 20%;
}
#user .content .user .department {
  width: 10%;
}
#user .content .user .post {
  width: 10%;
}
#user .content .user .phone {
  width: 10%;
  word-wrap: break-word;
}
#user .content .user .email {
  width: 24%;
}
#power .content {
  background-color: #f8f7fa;
}
#power .content .content-fl {
  width: 44%;
  padding: 20px 2% 50px;
  margin-right: 2%;
  background-color: #fff;
}
#power .content .content-fl .selectBar .fl {
  width: 70%;
}
#power .content .content-fl .selectBar .fl .s-box1 {
  margin-bottom: 20px;
}
#power .content .content-fl .selectBar .fl select {
  width: 70%;
}
#power .content .content-fl .selectBar .fr {
  width: 30%;
}
#power .content .content-fl .selectBar .fr button {
  width: 100px;
  height: 38px;
  position: relative;
  top: 16px;
}
#power .content .content-fl .listBox {
  margin-top: 30px;
}
#power .content .content-fl .listBox .fl {
  width: 48.5%;
}
#power .content .content-fl .listBox .fl p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fl .listBox .fl .postList {
  height: 500px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fl .listBox .fl .postList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fl .listBox .fl .postList p input {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
#power .content .content-fl .listBox .fr {
  width: 48.5%;
}
#power .content .content-fl .listBox .fr p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fl .listBox .fr .staffList {
  height: 500px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fl .listBox .fr .staffList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fr {
  width: 46%;
  padding: 20px 2% 50px;
  background-color: #fff;
}
#power .content .content-fr h4 {
  color: #ed6e56;
}
#power .content .content-fr .powerCopy > div {
  width: 50%;
  float: left;
  margin-top: 10px;
}
#power .content .content-fr .powerCopy > div label {
  margin-right: 5px;
}
#power .content .content-fr .powerCopy > div select {
  width: 64%;
}
#power .content .content-fr .powerSel {
  margin-top: 30px;
}
#power .content .content-fr .powerSel .powerSelBox .fl {
  width: 48.5%;
}
#power .content .content-fr .powerSel .powerSelBox .fl p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fr .powerSel .powerSelBox .fl .nemuList {
  height: 456px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fr .powerSel .powerSelBox .fl .nemuList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fr .powerSel .powerSelBox .fl .nemuList p input {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
#power .content .content-fr .powerSel .powerSelBox .fr {
  width: 48.5%;
}
#power .content .content-fr .powerSel .powerSelBox .fr p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fr .powerSel .powerSelBox .fr .btnList {
  height: 456px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fr .powerSel .powerSelBox .fr .btnList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fr .powerSel .powerSelBox .fr .btnList p input {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
#log .content .topBar ol {
  margin-left: 10px;
}
#log .content .topBar ol li {
  width: 100px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  margin-right: 4px;
  background-color: #ed6e56;
}
#log .content .topBar input {
  width: 140px;
}
#log .content .topBar .startTime {
  margin-right: 4px;
}
#log .content .topBar .endTime {
  margin-left: 4px;
}
#log .content .topBar a.query {
  margin-left: 20px;
  margin-right: 40px;
  color: #ed6e56;
}
#log .content .logList {
  padding: 30px 3%;
  background-color: #fff;
  color: #666;
}
#log .content .logList .thead-outer {
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#log .content .logList .thead-outer .thead-core {
  border-bottom: 1px solid #dddddd;
}
#log .content .logList .thead-outer .thead-core > div {
  height: 48px;
  line-height: 48px;
  float: left;
  text-align: center;
}
#log .content .logList .body-box .bodyList {
  border-bottom: 1px solid #dddddd;
}
#log .content .logList .body-box .bodyList > div {
  /* height: 40px;
            line-height: 40px;*/
  padding: 10px 0;
  float: left;
  text-align: center;
}
#log .content .logList .loginId {
  width: 8%;
}
#log .content .logList .name {
  width: 8%;
}
#log .content .logList .number {
  width: 10%;
}
#log .content .logList .company {
  width: 20%;
}
#log .content .logList .department {
  width: 10%;
}
#log .content .logList .post {
  width: 10%;
}
#log .content .logList .time {
  width: 10%;
}
#log .content .logList .log {
  width: 24%;
}
html,
body {
  height: 100%;
  background-color: #f8f7fa;
}
#wrapper {
  height: 100%;
}
#wrapper #main {
  padding-left: 200px;
  height: 100%;
}
#wrapper #header {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: 1100px;
}
#wrapper #header .logo {
  display: inline-block;
  height: 60px;
  width: 199px;
  float: left;
  background-color: #ed6e56;
  text-align: center;
  cursor: default;
}
#wrapper #header h1 {
  color: #333;
  font-size: 18px;
  margin-left: 30px;
}
#wrapper #header .time {
  margin-left: 18px;
  position: relative;
  top: 5px;
}
#wrapper #header .user_info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#wrapper #header em,
#wrapper #header a {
  color: #c3221d;
}
#wrapper #header .exit {
  margin-left: 30px;
  margin-right: 50px;
}
#wrapper #header .exit a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #666;
}
#wrapper #header .exit a i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../image/sprite.png');
  background-position: -196px 0;
  margin-right: 5px;
  position: relative;
  top: 5px;
}
#wrapper #left {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  padding-top: 80px;
}
#wrapper #left ul li {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#wrapper #left ul li a {
  display: inline-block;
  width: 100%;
  height: 80px;
  font-size: 18px;
  position: relative;
}
#wrapper #left ul li a.active {
  color: #fff;
}
#wrapper #left ul li a.active p {
  background-color: #f8f7fa;
  color: #333;
}
#wrapper #left ul li a::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 26px;
  top: 32px;
  background-image: url('../image/sprite.png');
  background-repeat: no-repeat;
}
#wrapper #left ul li a p {
  height: 50px;
  line-height: 50px;
  margin-top: 15px;
  color: #666;
  padding-left: 25px;
}
#wrapper #left ul li .business::before {
  background-position: 0 0;
}
#wrapper #left ul li .business.active::before {
  background-position: -37px 0;
}
#wrapper #left ul li .serve::before {
  background-position: 0 -32px;
}
#wrapper #left ul li .serve.active::before {
  background-position: -37px -32px;
}
#wrapper #left ul li .credit::before {
  background-position: 0 -62px;
}
#wrapper #left ul li .credit.active::before {
  background-position: -37px -62px;
}
#wrapper #left ul li .hierarchy::before {
  background-position: 0 -98px;
}
#wrapper #left ul li .hierarchy.active::before {
  background-position: -37px -98px;
}
#wrapper #left ul li .partnerClassify::before {
  background-position: 0 -135px;
}
#wrapper #left ul li .partnerClassify.active::before {
  background-position: -37px -135px;
}
#wrapper #left ul li .partnerManage::before {
  background-position: 0 -168px;
}
#wrapper #left ul li .partnerManage.active::before {
  background-position: -37px -168px;
}
#wrapper #left ul#home2 li {
  width: 100%;
  height: 80px;
  text-align: center;
}
#wrapper #left ul#home2 li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 0;
  font-size: 18px;
  position: relative;
}
#wrapper #left ul#home2 li a.active {
  color: #fff;
}
#wrapper #left ul#home2 li a.active p {
  background-color: #f8f7fa;
  color: #333;
}
#wrapper #left ul#home2 li a::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 25px;
  background-image: url('../image/sprite.png');
  background-repeat: no-repeat;
}
#wrapper #left ul#home2 li a p {
  margin-top: 15px;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  color: #666;
}
#wrapper #left ul#home2 li .tax::before {
  background-position: -78px -332px;
}
#wrapper #left ul#home2 li .tax.active::before {
  background-position: -121px -332px;
}
#wrapper #left ul#home2 li .copy::before {
  background-position: -78px -370px;
}
#wrapper #left ul#home2 li .copy.active::before {
  background-position: -121px -370px;
}
#wrapper #left ul#home2 li .process::before {
  background-position: -78px -417px;
}
#wrapper #left ul#home2 li .process.active::before {
  background-position: -121px -417px;
}
#wrapper #left ul#home2 li .process2::before {
  background-position: -78px -417px;
}
#wrapper #left ul#home2 li .process2.active::before {
  background-position: -121px -417px;
}
#wrapper #left ul#home2 li .maintenance::before {
  background-position: -78px -417px;
}
#wrapper #left ul#home2 li .maintenance.active::before {
  background-position: -121px -417px;
}
.right {
  position: relative;
  top: 60px;
}
.right .right_content {
  min-height: 100%;
  background-color: #f8f7fa;
  padding: 20px 2%;
  box-sizing: border-box;
}
.right .right_content .nav {
  margin-bottom: 20px;
}
.right .right_content .nav h2 {
  font-size: 18px;
  color: #666;
  border-left: 6px solid #ed6e56;
  text-indent: 16px;
}
.right .right_content .nav p {
  height: 26px;
  line-height: 26px;
  color: #aabcce;
}
label {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #666;
}
input {
  border: 1px solid #cfcfcf;
  height: 28px;
  border-radius: 3px;
  padding-left: 10px;
}
select {
  border: 1px solid #cfcfcf;
  height: 28px;
  border-radius: 3px;
  padding-left: 10px;
}
button {
  width: 130px;
  height: 44px;
  background-color: #fe7272;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
button.blue {
  background-color: #7598b9;
}
.blue {
  background-color: #7598b9;
}
table {
  width: 100%;
}
table thead tr {
  border-width: 1px;
  border-style: none none double none;
  border-color: #dddddd;
  height: 48px;
}
table thead tr th {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 48px;
}
table tbody tr td {
  text-align: center;
  color: #666666;
  font-size: 16px;
}
table tbody tr:hover {
  background-color: #f9f9fb;
}
/*.colorEven{
  background-color: #fff;
}*/
/*h4{
  display: inline-block;
  margin-left: 20px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  color:@h2Color;
  margin-bottom: 20px;
  border-left:5px solid @h2Color;
  text-indent: 16px;
  margin-top: 20px;
}*/
p {
  height: 36px;
  line-height: 36px;
  color: #666;
}
input.date_in {
  background-image: url('../image/sprite.png');
  background-position: 100px -544px;
}
