#business .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#business .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#business .content .thead-outer .thead-core {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#business .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#business .content .thead-outer .thead-core .thead-content .no {
  width: 10%;
}
#business .content .thead-outer .thead-core .thead-content .business {
  width: 20%;
}
#business .content .thead-outer .thead-core .thead-content .description {
  width: 30%;
}
#business .content .body-box .bodyList {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#business .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#business .content .body-box .bodyList .no {
  width: 10%;
}
#business .content .body-box .bodyList .business {
  width: 20%;
}
#business .content .body-box .bodyList .description {
  width: 30%;
}
#business .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#business .content table {
  width: 100%;
}
#credit .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#credit .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#credit .content .thead-outer .thead-core {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#credit .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#credit .content .thead-outer .thead-core .thead-content .no {
  width: 10%;
}
#credit .content .thead-outer .thead-core .thead-content .class {
  width: 10%;
}
#credit .content .thead-outer .thead-core .thead-content .protocolType {
  width: 30%;
}
#credit .content .thead-outer .thead-core .thead-content .valid {
  width: 10%;
}
#credit .content .body-box .bodyList {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#credit .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#credit .content .body-box .bodyList .no {
  width: 10%;
}
#credit .content .body-box .bodyList .class {
  width: 10%;
}
#credit .content .body-box .bodyList .protocolType {
  width: 30%;
}
#credit .content .body-box .bodyList .valid {
  width: 10%;
}
#credit .content #editBtn {
  display: none;
}
#hierarchy .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#hierarchy .content table {
  width: 100%;
}
#hierarchy .content #remark {
  padding-left: 20px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#hierarchy .content #remark p {
  height: 25px;
  line-height: 25px;
  color: #ed6e56;
}
#hierarchy .content .tier .table-header {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#hierarchy .content .tier .table-header .table-header-box {
  border-bottom: 1px solid #dddddd;
}
#hierarchy .content .tier .selectBox {
  border-bottom: 1px solid #dddddd;
}
#hierarchy .content .tier .item {
  float: left;
  width: 15%;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
#hierarchy .content .tier .item select {
  width: 140px;
  height: 30px;
  border-radius: 0;
}
#hierarchy #editBtn {
  display: none;
}
#partnerClassify .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#partnerClassify .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#partnerClassify .content .thead-outer .thead-core {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#partnerClassify .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#partnerClassify .content .thead-outer .thead-core .thead-content .no {
  width: 10%;
}
#partnerClassify .content .thead-outer .thead-core .thead-content .partner {
  width: 15%;
}
#partnerClassify .content .thead-outer .thead-core .thead-content .description {
  width: 42%;
}
#partnerClassify .content .body-box .bodyList {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dddddd;
}
#partnerClassify .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#partnerClassify .content .body-box .bodyList .no {
  width: 10%;
}
#partnerClassify .content .body-box .bodyList .partner {
  width: 15%;
}
#partnerClassify .content .body-box .bodyList .description {
  width: 42%;
}
#partnerManage .new,
#partnerManage .alter,
#partnerManage #transferBtn,
#partnerManage #delete,
#partnerManage #query {
  display: none;
}
#partnerManage .content {
  position: relative;
  padding: 20px 20px 50px;
  background-color: #fff;
}
#partnerManage .content .searchBar {
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  padding-left: 20px;
  font-size: 16px;
}
#partnerManage .content .searchBar .sortBox {
  margin-bottom: 10px;
}
#partnerManage .content .searchBar h6 {
  display: inline;
  position: relative;
  top: 4px;
  margin-right: 20px;
}
#partnerManage .content .searchBar input[name='sort'] {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
#partnerManage .content .searchBar input#mainPoint {
  height: 28px;
  width: 268px;
  margin-right: 20px;
}
#partnerManage .content .searchBar label {
  color: #ed6e56;
  height: 28px;
  margin-right: 30px;
  position: relative;
  top: 1px;
}
#partnerManage .content .searchBar .searchBtn {
  margin: 0 120px 0 0;
  cursor: pointer;
}
#partnerManage .content .searchBar .clickLink {
  color: #ed6e56;
  margin-right: 26px;
}
#partnerManage .content .handleBar {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
#partnerManage .content .handleBar .handle-left a {
  margin-right: 36px;
  text-decoration: underline;
}
#partnerManage .content .handleBar .handle-right a {
  margin-left: 60px;
}
#partnerManage .content .handleBar a {
  color: #ed6e56;
}
#partnerManage .treeHome .thead-outer {
  height: 50px;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
#partnerManage .treeHome .thead-core {
  height: 50px;
  border-bottom: 1px solid #dddddd;
}
#partnerManage .treeHome .thead-core .Th {
  height: 50px;
  width: 60px;
  font-size: 16px;
  margin: 0 auto;
}
#partnerManage .treeHome .thead-core .Th span {
  display: block;
  height: 40px;
  width: 40px;
  margin: 5px auto;
}
#partnerManage #tree_box {
  position: relative;
  height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#partnerManage #tree_box .info {
  float: right;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#partnerManage #tree_box .checkedIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../image/sprite.png');
  background-position: -70px -43px;
}
#partnerManage #screen {
  display: none;
  width: 400px;
  height: 500px;
  position: absolute;
  z-index: 777;
  background-color: #f0f0f0;
  top: 0;
  right: 50px;
  overflow-y: auto;
}
#partnerManage #screen h3 {
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-indent: 22px;
  background-color: #7598b9;
}
#partnerManage #screen #selected {
  padding: 10px 20px;
}
#partnerManage #screen #selected span {
  display: block;
  padding: 10px 0;
  line-height: 20px;
  color: #666;
  cursor: pointer;
  text-indent: 20px;
  position: relative;
}
#partnerManage #screen #selected span::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 5px;
  left: 0;
  top: 15px;
}
#partnerManage #transfer {
  display: none;
  width: 600px;
  background-color: #f0f0f0;
  position: absolute;
  z-index: 99;
  top: 300px;
  left: 50%;
  margin-left: -300px;
  border: 1px solid #f0f0f0;
}
#partnerManage #transfer h3 {
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-indent: 22px;
  background-color: #ed6e56;
  font-size: 16px;
}
#partnerManage #transfer .content {
  padding: 10px 30px;
}
#partnerManage #transfer .content .transfer-box {
  max-height: 200px;
  background-color: #fff;
  overflow: auto;
  margin: 0 0 20px 0;
}
#partnerManage #transfer .content .transfer-box p {
  text-indent: 10px;
  cursor: default;
}
#partnerManage #transfer .content .transfer-box p.active {
  background-color: #dddddd;
}
#partnerManage #transfer button {
  height: 34px;
  width: 100px;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #ed6e56;
}
#partnerManage #transfer .blue {
  background-color: #7598b9;
}
#partnerManage #transfer #goal {
  width: 320px;
  height: 34px;
}
#partnerManage #transfer .bar button {
  display: inline-block;
  margin: 50px 60px 40px 0;
}
#partnerManage #transfer .bar #tr-confirm {
  margin-left: 40px;
}
#partnerManage #infoWall {
  background-color: #f8f7fa;
  position: absolute;
  height: 2000px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
}
#homePage .content {
  /*padding: 20px 20px 50px;*/
  color: #666;
  background-color: #f8f7fa;
}
#homePage .content h3 {
  height: 26px;
  color: #ed6e56;
}
#homePage .content .account-setting {
  padding: 10px 20px 20px;
  background-color: #fff;
}
#homePage .content .account-setting > div {
  float: left;
  width: 30%;
  padding-left: 3%;
}
#homePage .content .account-setting > div label {
  margin-right: 0;
}
#homePage .content .account-setting > div em {
  color: #333;
}
#homePage .content .account-setting > div a {
  color: #ed6e56;
  margin-left: 2%;
}
#homePage .content .account-setting .nameEdit {
  display: none;
}
#homePage .content .account-setting #nameConfirm {
  display: none;
}
#homePage .content .account-setting .passwordEdit {
  display: none;
}
#homePage .content .account-setting #passwordConfirm {
  display: none;
}
#homePage .content .account-setting .emailEdit {
  display: none;
}
#homePage .content .account-setting #emailConfirm {
  display: none;
}
#homePage .content .operation-log {
  padding: 10px 20px 20px;
  background-color: #fff;
  margin-top: 16px;
}
#homePage .content .operation-log .listBox {
  max-height: 420px;
  overflow: auto;
}
#homePage .content .operation-log .o-l-list {
  width: 96%;
  background-color: #f8f7fa;
  margin: 10px auto 0;
  padding: 10px 20px;
}
#homePage .content .operation-log .o-l-list .fl {
  width: 40%;
}
#homePage .content .operation-log .o-l-list .fr {
  width: 60%;
}
#homePage .content .operation-log .o-l-list .fr h4 {
  color: #333;
}
#homePage .content .access-log {
  padding: 10px 20px 20px;
  background-color: #fff;
  margin-top: 16px;
}
#homePage .content .access-log .listBox {
  max-height: 430px;
  overflow: auto;
}
#homePage .content .access-log .a-l-list {
  width: 96%;
  border: 1px solid #ddd;
  margin: 10px auto;
  padding: 10px 20px;
}
#homePage .content .access-log .a-l-list .fl {
  width: 40%;
}
#homePage .content .access-log .a-l-list .fr {
  width: 60%;
}
#homePage .content .access-log .a-l-list .fr h4 {
  color: #333;
}
#user .content {
  /*padding: 20px 20px 50px;*/
  color: #666;
  background-color: #f8f7fa;
}
#user .content .searchBar {
  background-color: #fff;
  padding: 20px;
}
#user .content .searchBar input {
  width: 15%;
  margin-right: 4%;
}
#user .content .searchBar button {
  width: 100px;
  height: 38px;
  background-color: #ed6e56;
}
#user .content .user {
  margin-top: 30px;
  padding: 30px 3% 80px;
  background-color: #fff;
}
#user .content .user .thead-outer {
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#user .content .user .thead-outer .thead-core {
  border-bottom: 1px solid #dddddd;
}
#user .content .user .thead-outer .thead-core > div {
  height: 48px;
  line-height: 48px;
  float: left;
  text-align: center;
}
#user .content .user .body-box .bodyList {
  border-bottom: 1px solid #dddddd;
}
#user .content .user .body-box .bodyList > div {
  padding: 10px 0;
  float: left;
  text-align: center;
}
#user .content .user .loginId {
  width: 8%;
}
#user .content .user .name {
  width: 8%;
}
#user .content .user .number {
  width: 10%;
}
#user .content .user .company {
  width: 20%;
}
#user .content .user .department {
  width: 10%;
}
#user .content .user .post {
  width: 10%;
}
#user .content .user .phone {
  width: 10%;
  word-wrap: break-word;
}
#user .content .user .email {
  width: 24%;
}
#power .content {
  background-color: #f8f7fa;
}
#power .content .content-fl {
  width: 44%;
  padding: 20px 2% 50px;
  margin-right: 2%;
  background-color: #fff;
}
#power .content .content-fl .selectBar .fl {
  width: 70%;
}
#power .content .content-fl .selectBar .fl .s-box1 {
  margin-bottom: 20px;
}
#power .content .content-fl .selectBar .fl select {
  width: 70%;
}
#power .content .content-fl .selectBar .fr {
  width: 30%;
}
#power .content .content-fl .selectBar .fr button {
  width: 100px;
  height: 38px;
  position: relative;
  top: 16px;
}
#power .content .content-fl .listBox {
  margin-top: 30px;
}
#power .content .content-fl .listBox .fl {
  width: 48.5%;
}
#power .content .content-fl .listBox .fl p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fl .listBox .fl .postList {
  height: 500px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fl .listBox .fl .postList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fl .listBox .fl .postList p input {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
#power .content .content-fl .listBox .fr {
  width: 48.5%;
}
#power .content .content-fl .listBox .fr p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fl .listBox .fr .staffList {
  height: 500px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fl .listBox .fr .staffList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fr {
  width: 46%;
  padding: 20px 2% 50px;
  background-color: #fff;
}
#power .content .content-fr h4 {
  color: #ed6e56;
}
#power .content .content-fr .powerCopy > div {
  width: 50%;
  float: left;
  margin-top: 10px;
}
#power .content .content-fr .powerCopy > div label {
  margin-right: 5px;
}
#power .content .content-fr .powerCopy > div select {
  width: 64%;
}
#power .content .content-fr .powerSel {
  margin-top: 30px;
}
#power .content .content-fr .powerSel .powerSelBox .fl {
  width: 48.5%;
}
#power .content .content-fr .powerSel .powerSelBox .fl p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fr .powerSel .powerSelBox .fl .nemuList {
  height: 456px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fr .powerSel .powerSelBox .fl .nemuList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fr .powerSel .powerSelBox .fl .nemuList p input {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
#power .content .content-fr .powerSel .powerSelBox .fr {
  width: 48.5%;
}
#power .content .content-fr .powerSel .powerSelBox .fr p {
  height: 40px;
  color: #333;
  font-weight: 600;
  text-align: center;
}
#power .content .content-fr .powerSel .powerSelBox .fr .btnList {
  height: 456px;
  padding: 5% 10%;
  overflow: auto;
  background-color: #f8f7fa;
}
#power .content .content-fr .powerSel .powerSelBox .fr .btnList p {
  text-align: left;
  color: #666;
  font-weight: normal;
}
#power .content .content-fr .powerSel .powerSelBox .fr .btnList p input {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
#power .btnBox {
  float: right;
  margin-top: 20px;
  margin-right: 150px;
}
#power .btnBox button {
  width: 100px;
  height: 38px;
  margin-right: 100px;
}
#log .content .topBar ol {
  margin-left: 10px;
}
#log .content .topBar ol li {
  width: 100px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  margin-right: 4px;
  background-color: #dddddd;
  cursor: pointer;
}
#log .content .topBar ol li.active {
  background-color: #ed6e56;
  color: #fff;
}
#log .content .topBar input {
  width: 140px;
}
#log .content .topBar .startTime {
  margin-right: 4px;
}
#log .content .topBar .endTime {
  margin-left: 4px;
}
#log .content .topBar a.query {
  margin-left: 20px;
  margin-right: 40px;
  color: #ed6e56;
}
#log .content .logList {
  padding: 30px 3%;
  background-color: #fff;
  color: #666;
}
#log .content .logList .thead-outer {
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#log .content .logList .thead-outer .thead-core {
  border-bottom: 1px solid #dddddd;
}
#log .content .logList .thead-outer .thead-core > div {
  height: 48px;
  line-height: 48px;
  float: left;
  text-align: center;
}
#log .content .logList .body-box .bodyList {
  border-bottom: 1px solid #dddddd;
}
#log .content .logList .body-box .bodyList > div {
  /* height: 40px;
            line-height: 40px;*/
  padding: 10px 0;
  float: left;
  text-align: center;
}
#log .content .logList .loginId {
  width: 8%;
}
#log .content .logList .name {
  width: 8%;
}
#log .content .logList .number {
  width: 10%;
}
#log .content .logList .company {
  width: 20%;
}
#log .content .logList .department {
  width: 10%;
}
#log .content .logList .post {
  width: 10%;
}
#log .content .logList .time {
  width: 10%;
}
#log .content .logList .log {
  width: 24%;
}
#partnerNew .content {
  color: #666;
  padding-bottom: 200px;
}
#partnerNew .content h4 {
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}
#partnerNew .content form {
  padding: 20px 3%;
  background-color: #fff;
  font-size: 14px;
  position: relative;
}
#partnerNew .content form > div {
  margin-bottom: 15px;
}
#partnerNew .content form .buttonBox {
  width: 500px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  bottom: -70px;
}
#partnerNew .content form .buttonBox button {
  width: 110px;
  height: 40px;
  background-color: #ed6e56;
  font-size: 18px;
}
#partnerNew .content form .warning {
  color: red;
  position: absolute;
  right: 0;
}
#partnerNew .content form .hiddenInput {
  width: 0;
  height: 0;
  opacity: 0;
}
#partnerNew .content .flDiv {
  width: 70%;
}
#partnerNew .content .flDiv input {
  width: 80%;
}
#partnerNew .content .flDiv input.code {
  width: 11%;
}
#partnerNew .content .frDiv {
  width: 30%;
}
#partnerNew .content .frDiv input {
  width: 60%;
}
#partnerNew .content span.mark {
  color: #ed6e56;
  font-size: 20px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}
#partnerNew .content span.mark.disableMark {
  color: #fff;
}
#partnerNew .content .line {
  font-size: 1%;
}
#partnerNew .content label {
  width: 60px;
}
#partnerNew .content label.income {
  width: 100px;
  margin-right: 0;
}
#partnerNew .content input {
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
#partnerNew .content input[type='radio'] {
  margin-right: 6px;
  width: 16px;
  height: 16px;
}
#partnerNew .content .status {
  padding-left: 18px;
}
#partnerNew .content .status .reason {
  width: 62%;
}
#partnerNew .content .newBtn {
  height: 34px;
  width: 88px;
  border: 1px solid #ed6e56;
  font-size: 14px;
  background-color: #fff;
  color: #ed6e56;
  border-radius: 8px;
}
#partnerNew .content .thead-outer {
  height: 48px;
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#partnerNew .content .thead-outer .thead-core {
  height: 48px;
  border-bottom: 1px solid #dddddd;
}
#partnerNew .content .thead-outer .thead-core > div {
  height: 48px;
  line-height: 48px;
  float: left;
  color: #333;
}
#partnerNew .content .thead-outer .thead-core .no {
  width: 5%;
}
#partnerNew .content .thead-outer .thead-core .addressType {
  width: 12%;
}
#partnerNew .content .thead-outer .thead-core .short {
  width: 14%;
}
#partnerNew .content .thead-outer .thead-core .address {
  width: 35%;
}
#partnerNew .content .thead-outer .thead-core .postcode {
  width: 15%;
}
#partnerNew .content .thead-outer .thead-core .operation {
  width: 19%;
}
#partnerNew .content .thead-outer .thead-core .name {
  width: 6%;
}
#partnerNew .content .thead-outer .thead-core .obligation {
  width: 6%;
}
#partnerNew .content .thead-outer .thead-core .demp {
  width: 8%;
}
#partnerNew .content .thead-outer .thead-core .duty {
  width: 6%;
}
#partnerNew .content .thead-outer .thead-core .tel {
  width: 10%;
}
#partnerNew .content .thead-outer .thead-core .phone {
  width: 10%;
}
#partnerNew .content .thead-outer .thead-core .email {
  width: 12%;
}
#partnerNew .content .thead-outer .thead-core .address2 {
  width: 22%;
}
#partnerNew .content .thead-outer .thead-core .operation {
  width: 10%;
}
#partnerNew .content .listBoxStyle .list {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}
#partnerNew .content .listBoxStyle .list > div {
  float: left;
}
#partnerNew .content .listBoxStyle .list .no {
  width: 5%;
}
#partnerNew .content .listBoxStyle .list .addressType {
  width: 12%;
}
#partnerNew .content .listBoxStyle .list .short {
  width: 14%;
}
#partnerNew .content .listBoxStyle .list .address {
  width: 35%;
}
#partnerNew .content .listBoxStyle .list .postcode {
  width: 15%;
}
#partnerNew .content .listBoxStyle .list .operation {
  width: 19%;
}
#partnerNew .content .listBoxStyle .list .editAdd {
  color: #64b92b;
  margin-right: 8%;
}
#partnerNew .content .listBoxStyle .list .name {
  width: 6%;
}
#partnerNew .content .listBoxStyle .list .obligation {
  width: 6%;
}
#partnerNew .content .listBoxStyle .list .demp {
  width: 8%;
}
#partnerNew .content .listBoxStyle .list .duty {
  width: 6%;
}
#partnerNew .content .listBoxStyle .list .tel {
  width: 10%;
}
#partnerNew .content .listBoxStyle .list .phone {
  width: 10%;
}
#partnerNew .content .listBoxStyle .list .email {
  width: 12%;
}
#partnerNew .content .listBoxStyle .list .address2 {
  width: 22%;
}
#partnerNew .content .listBoxStyle .list .operation {
  width: 10%;
}
#partnerNew .content .listBoxStyle .addingAdd,
#partnerNew .content .listBoxStyle .editingAdd,
#partnerNew .content .listBoxStyle .addingCon,
#partnerNew .content .listBoxStyle .editingCon {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}
#partnerNew .content .listBoxStyle .addingAdd > div,
#partnerNew .content .listBoxStyle .editingAdd > div,
#partnerNew .content .listBoxStyle .addingCon > div,
#partnerNew .content .listBoxStyle .editingCon > div {
  float: left;
}
#partnerNew .content .listBoxStyle .addingAdd .no,
#partnerNew .content .listBoxStyle .editingAdd .no,
#partnerNew .content .listBoxStyle .addingCon .no,
#partnerNew .content .listBoxStyle .editingCon .no {
  width: 5%;
}
#partnerNew .content .listBoxStyle .addingAdd .addressType,
#partnerNew .content .listBoxStyle .editingAdd .addressType,
#partnerNew .content .listBoxStyle .addingCon .addressType,
#partnerNew .content .listBoxStyle .editingCon .addressType {
  width: 12%;
}
#partnerNew .content .listBoxStyle .addingAdd .short,
#partnerNew .content .listBoxStyle .editingAdd .short,
#partnerNew .content .listBoxStyle .addingCon .short,
#partnerNew .content .listBoxStyle .editingCon .short {
  width: 14%;
}
#partnerNew .content .listBoxStyle .addingAdd .address,
#partnerNew .content .listBoxStyle .editingAdd .address,
#partnerNew .content .listBoxStyle .addingCon .address,
#partnerNew .content .listBoxStyle .editingCon .address {
  width: 35%;
}
#partnerNew .content .listBoxStyle .addingAdd .postcode,
#partnerNew .content .listBoxStyle .editingAdd .postcode,
#partnerNew .content .listBoxStyle .addingCon .postcode,
#partnerNew .content .listBoxStyle .editingCon .postcode {
  width: 15%;
}
#partnerNew .content .listBoxStyle .addingAdd .operation,
#partnerNew .content .listBoxStyle .editingAdd .operation,
#partnerNew .content .listBoxStyle .addingCon .operation,
#partnerNew .content .listBoxStyle .editingCon .operation {
  width: 19%;
}
#partnerNew .content .listBoxStyle .addingAdd .editAdd,
#partnerNew .content .listBoxStyle .editingAdd .editAdd,
#partnerNew .content .listBoxStyle .addingCon .editAdd,
#partnerNew .content .listBoxStyle .editingCon .editAdd {
  color: #64b92b;
  margin-right: 8%;
}
#partnerNew .content .listBoxStyle .addingAdd .confirmAdd,
#partnerNew .content .listBoxStyle .editingAdd .confirmAdd,
#partnerNew .content .listBoxStyle .addingCon .confirmAdd,
#partnerNew .content .listBoxStyle .editingCon .confirmAdd {
  color: #64b92b;
  margin-right: 8%;
}
#partnerNew .content .listBoxStyle .addingAdd .confirmEdit,
#partnerNew .content .listBoxStyle .editingAdd .confirmEdit,
#partnerNew .content .listBoxStyle .addingCon .confirmEdit,
#partnerNew .content .listBoxStyle .editingCon .confirmEdit {
  color: #64b92b;
  margin-right: 8%;
}
#partnerNew .content .listBoxStyle .addingAdd .name,
#partnerNew .content .listBoxStyle .editingAdd .name,
#partnerNew .content .listBoxStyle .addingCon .name,
#partnerNew .content .listBoxStyle .editingCon .name {
  width: 6%;
}
#partnerNew .content .listBoxStyle .addingAdd .obligation,
#partnerNew .content .listBoxStyle .editingAdd .obligation,
#partnerNew .content .listBoxStyle .addingCon .obligation,
#partnerNew .content .listBoxStyle .editingCon .obligation {
  width: 6%;
}
#partnerNew .content .listBoxStyle .addingAdd .demp,
#partnerNew .content .listBoxStyle .editingAdd .demp,
#partnerNew .content .listBoxStyle .addingCon .demp,
#partnerNew .content .listBoxStyle .editingCon .demp {
  width: 8%;
}
#partnerNew .content .listBoxStyle .addingAdd .duty,
#partnerNew .content .listBoxStyle .editingAdd .duty,
#partnerNew .content .listBoxStyle .addingCon .duty,
#partnerNew .content .listBoxStyle .editingCon .duty {
  width: 6%;
}
#partnerNew .content .listBoxStyle .addingAdd .tel,
#partnerNew .content .listBoxStyle .editingAdd .tel,
#partnerNew .content .listBoxStyle .addingCon .tel,
#partnerNew .content .listBoxStyle .editingCon .tel {
  width: 10%;
}
#partnerNew .content .listBoxStyle .addingAdd .phone,
#partnerNew .content .listBoxStyle .editingAdd .phone,
#partnerNew .content .listBoxStyle .addingCon .phone,
#partnerNew .content .listBoxStyle .editingCon .phone {
  width: 10%;
}
#partnerNew .content .listBoxStyle .addingAdd .email,
#partnerNew .content .listBoxStyle .editingAdd .email,
#partnerNew .content .listBoxStyle .addingCon .email,
#partnerNew .content .listBoxStyle .editingCon .email {
  width: 12%;
}
#partnerNew .content .listBoxStyle .addingAdd .address2,
#partnerNew .content .listBoxStyle .editingAdd .address2,
#partnerNew .content .listBoxStyle .addingCon .address2,
#partnerNew .content .listBoxStyle .editingCon .address2 {
  width: 20%;
}
#partnerNew .content .listBoxStyle .addingAdd .operation,
#partnerNew .content .listBoxStyle .editingAdd .operation,
#partnerNew .content .listBoxStyle .addingCon .operation,
#partnerNew .content .listBoxStyle .editingCon .operation {
  width: 10%;
}
#partnerNew .content .listBoxStyle .delAdd:hover {
  color: #ed6e56;
}
#partnerNew .content .listBoxStyle .cancelAdd:hover {
  color: #ed6e56;
}
#partnerNew .content .listBoxStyle .cancelEdit:hover {
  color: #ed6e56;
}
#partnerNew .content .businessScope input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
#partnerNew .content .businessScope label {
  width: auto;
  margin-right: 3.6%;
}
#partnerNew .content .businessScope .businessCheckbox {
  padding: 10px 0;
  padding-left: 3%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
#partnerNew .content .classificationOfPartners input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
#partnerNew .content .classificationOfPartners label {
  width: auto;
  margin-right: 4%;
}
#partnerNew .content .classificationOfPartners .classificationOfPartnersCheckbox {
  padding: 10px 0;
  padding-left: 3%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
#partnerNew .content .wbkhStyle {
  padding-left: 20px;
}
#partnerNew .content .wbkhStyle h5 {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}
#partnerNew .content .wbkhStyle h6 {
  display: inline;
}
#partnerNew .content .wbkhStyle .fl1 {
  width: 25%;
  height: 234px;
  margin-right: 1%;
}
#partnerNew .content .wbkhStyle .fl1 .topLayer {
  height: 90px;
  border: 1px solid #dddddd;
  margin-bottom: 18px;
  padding: 8px 15px;
}
#partnerNew .content .wbkhStyle .fl1 .topLayer label {
  width: auto;
  margin-right: 8%;
}
#partnerNew .content .wbkhStyle .fl1 .topLayer label.income {
  width: 100px;
  margin-right: 0;
}
#partnerNew .content .wbkhStyle .fl1 .topLayer input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
#partnerNew .content .wbkhStyle .fl1 .bottomLayer {
  height: 92px;
  border: 1px solid #dddddd;
  padding: 8px 15px;
}
#partnerNew .content .wbkhStyle .fl1 .bottomLayer label {
  width: 120px;
  margin-right: 0;
}
#partnerNew .content .wbkhStyle .fl1 .bottomLayer input[type='checkbox'] {
  margin-right: 5px;
}
#partnerNew .content .wbkhStyle .fl1 .bottomLayer input[type='text'] {
  height: 28px;
  width: 40%;
}
#partnerNew .content .wbkhStyle .fl2 {
  padding: 20px 0 0 2%;
  width: 22%;
  height: 212px;
  border: 1px solid #dddddd;
  margin-right: 1%;
}
#partnerNew .content .wbkhStyle .fl2 label {
  width: 100px;
}
#partnerNew .content .wbkhStyle .fl2 div {
  height: 50px;
}
#partnerNew .content .wbkhStyle .fl2 select {
  width: 44%;
}
#partnerNew .content .wbkhStyle .fl2 input {
  width: 40%;
  height: 28px;
}
#partnerNew .content .wbkhStyle .fl3 {
  padding: 10px 1%;
  width: 45%;
  height: 212px;
  border: 1px solid #dddddd;
}
#partnerNew .content .wbkhStyle .fl3 label {
  width: auto;
}
#partnerNew .content .wbkhStyle .fl3 input[type='text'] {
  height: 28px;
}
#partnerNew .content .wbkhStyle .fl3 .bank {
  width: 35%;
  margin-right: 2%;
}
#partnerNew .content .wbkhStyle .fl3 .Taxpayers {
  width: 22%;
}
#partnerNew .content .wbkhStyle .fl3 .bankNo {
  width: 40%;
  margin-right: 2%;
}
#partnerNew .content .wbkhStyle .fl3 .tel {
  width: 25%;
}
#partnerNew .content .wbkhStyle .fl3 .comAddress {
  width: 70%;
}
#partnerNew .content .wbkhStyle .fl3 .fl3Div {
  margin-bottom: 10px;
}
#partnerNew input[type='checkbox'] {
  width: 16px;
  height: 16px;
}
#partnerNew input[type='text'] {
  height: 28px;
}
#partnerNew .consignee label {
  width: auto;
}
#partnerNew .consignee .consigneeInfo {
  padding: 20px 2%;
  border: 1px solid #dddddd;
}
#partnerNew .consignee .consigneeInfo .consigneeInfoBox div {
  width: 20%;
}
#partnerNew .consignee .consigneeInfo .consigneeInfoBox div input {
  width: 60%;
}
#partnerNew .userNameLi {
  display: none;
  width: 500px;
  height: 160px;
  overflow-y: auto;
  background-color: #f8f7fa;
  position: absolute;
  z-index: 1002;
  right: 0;
}
#partnerNew .userNameLi li {
  height: 34px;
  line-height: 34px;
  text-indent: 16px;
  border-bottom: 1px solid #fafafd;
  cursor: default;
}
#partnerNew .userNameLi li span {
  margin-right: 20px;
}
#partnerNew .wbkhInvoiceType {
  margin-left: 10px;
  padding-left: 0;
  width: 20%;
}
#partnerNew .invoiceTypeTitle {
  width: 100px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #d5d5d5;
  border-bottom: none;
  position: relative;
  top: 1px;
}
#partnerNew .bankInfo {
  background-color: #fcfbfd;
  border: 1px solid #d5d5d5;
  padding: 10px 0 0 10px;
}
#partnerNew .bankInfo .mark {
  display: none;
}
#partnerNew .bankInfo .sbmMark {
  display: inline-block;
}
#partnerNew .spreadAdd {
  cursor: pointer;
}
#partnerNew .packUpAdd {
  cursor: pointer;
}
#partnerNew .spreadCon {
  cursor: pointer;
}
#partnerNew .packUpCon {
  cursor: pointer;
}
@media screen and (max-width: 1600px) {
  #partnerNew .content form {
    font-size: 12px;
  }
  #partnerNew .content form .wbkhStyle .fl1 {
    width: 25%;
    height: 234px;
    margin-right: 1%;
  }
  #partnerNew .content form .wbkhStyle .fl1 .topLayer {
    height: 90px;
    border: 1px solid #dddddd;
    margin-bottom: 18px;
    padding: 8px 15px;
  }
  #partnerNew .content form .wbkhStyle .fl1 .topLayer label {
    width: auto;
    margin-right: 8%;
  }
  #partnerNew .content form .wbkhStyle .fl1 .topLayer label.income {
    width: 80px;
    margin-right: 0;
  }
  #partnerNew .content form .wbkhStyle .fl1 .topLayer input[type='checkbox'] {
    width: 16px;
    height: 16px;
    margin-right: 2px;
  }
  #partnerNew .content form .wbkhStyle .fl1 .bottomLayer {
    height: 92px;
    border: 1px solid #dddddd;
    padding: 8px 15px;
  }
  #partnerNew .content form .wbkhStyle .fl1 .bottomLayer label {
    width: 100px;
    margin-right: 0;
  }
  #partnerNew .content form .wbkhStyle .fl1 .bottomLayer input[type='checkbox'] {
    margin-right: 5px;
  }
  #partnerNew .content form .wbkhStyle .fl1 .bottomLayer input[type='text'] {
    height: 28px;
    width: 40%;
  }
  #partnerNew .content form .wbkhStyle .fl2 label {
    width: 84px;
  }
  #partnerNew .content input {
    font-size: 12px;
    padding-left: 6px;
  }
  #partnerNew .content label.income {
    width: 80px;
    margin-right: 0;
  }
  #partnerNew select {
    padding-left: 5px;
  }
}
html,
body {
  height: 100%;
  background-color: #f8f7fa;
}
#wrapper {
  height: 100%;
}
#wrapper #main {
  padding-left: 200px;
  height: 100%;
}
#wrapper #header {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: 1100px;
}
#wrapper #header .logo {
  display: inline-block;
  height: 60px;
  width: 199px;
  float: left;
  background-color: #ed6e56;
  text-align: center;
  cursor: default;
}
#wrapper #header h1 {
  color: #333;
  font-size: 18px;
  margin-left: 30px;
}
#wrapper #header .time {
  margin-left: 18px;
  position: relative;
  top: 5px;
}
#wrapper #header .user_info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#wrapper #header em,
#wrapper #header a {
  color: #c3221d;
}
#wrapper #header .exit {
  margin-left: 30px;
  margin-right: 50px;
}
#wrapper #header .exit a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #666;
}
#wrapper #header .exit a i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../image/sprite.png');
  background-position: -196px 0;
  margin-right: 5px;
  position: relative;
  top: 5px;
}
#wrapper #left {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  padding-top: 80px;
}
#wrapper #left ul li {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#wrapper #left ul li a {
  display: inline-block;
  width: 100%;
  height: 80px;
  font-size: 18px;
  position: relative;
}
#wrapper #left ul li a.active {
  color: #fff;
}
#wrapper #left ul li a.active p {
  background-color: #f8f7fa;
  color: #333;
}
#wrapper #left ul li a::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 26px;
  top: 32px;
  background-image: url('../image/sprite.png');
  background-repeat: no-repeat;
}
#wrapper #left ul li a p {
  height: 50px;
  line-height: 50px;
  margin-top: 15px;
  color: #666;
  padding-left: 25px;
}
#wrapper #left ul li .business::before {
  background-position: 0 0;
}
#wrapper #left ul li .business.active::before {
  background-position: -37px 0;
}
#wrapper #left ul li .serve::before {
  background-position: 0 -32px;
}
#wrapper #left ul li .serve.active::before {
  background-position: -37px -32px;
}
#wrapper #left ul li .credit::before {
  background-position: 0 -62px;
}
#wrapper #left ul li .credit.active::before {
  background-position: -37px -62px;
}
#wrapper #left ul li .hierarchy::before {
  background-position: 0 -98px;
}
#wrapper #left ul li .hierarchy.active::before {
  background-position: -37px -98px;
}
#wrapper #left ul li .partnerClassify::before {
  background-position: 0 -135px;
}
#wrapper #left ul li .partnerClassify.active::before {
  background-position: -37px -135px;
}
#wrapper #left ul li .partnerManage::before {
  background-position: 0 -168px;
}
#wrapper #left ul li .partnerManage.active::before {
  background-position: -37px -168px;
}
#wrapper #left ul#home2 li {
  width: 100%;
  height: 80px;
  text-align: center;
}
#wrapper #left ul#home2 li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 0;
  font-size: 18px;
  position: relative;
}
#wrapper #left ul#home2 li a.active {
  color: #fff;
}
#wrapper #left ul#home2 li a.active p {
  background-color: #f8f7fa;
  color: #333;
}
#wrapper #left ul#home2 li a::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 25px;
  background-image: url('../image/sprite.png');
  background-repeat: no-repeat;
}
#wrapper #left ul#home2 li a p {
  margin-top: 15px;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  color: #666;
}
#wrapper #left ul#home2 li .tax::before {
  background-position: -78px -332px;
}
#wrapper #left ul#home2 li .tax.active::before {
  background-position: -121px -332px;
}
#wrapper #left ul#home2 li .copy::before {
  background-position: -78px -370px;
}
#wrapper #left ul#home2 li .copy.active::before {
  background-position: -121px -370px;
}
#wrapper #left ul#home2 li .process::before {
  background-position: -78px -417px;
}
#wrapper #left ul#home2 li .process.active::before {
  background-position: -121px -417px;
}
#wrapper #left ul#home2 li .process2::before {
  background-position: -78px -417px;
}
#wrapper #left ul#home2 li .process2.active::before {
  background-position: -121px -417px;
}
#wrapper #left ul#home2 li .maintenance::before {
  background-position: -78px -417px;
}
#wrapper #left ul#home2 li .maintenance.active::before {
  background-position: -121px -417px;
}
.right {
  position: relative;
  top: 60px;
}
.right .right_content {
  min-height: 100%;
  background-color: #f8f7fa;
  padding: 20px 2%;
  box-sizing: border-box;
}
.right .right_content .nav {
  margin-bottom: 20px;
}
.right .right_content .nav h2 {
  font-size: 18px;
  color: #666;
  border-left: 6px solid #ed6e56;
  text-indent: 16px;
}
.right .right_content .nav p {
  height: 26px;
  line-height: 26px;
  color: #aabcce;
}
label {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #666;
}
input {
  border: 1px solid #cfcfcf;
  height: 28px;
  border-radius: 3px;
  padding-left: 10px;
}
select {
  border: 1px solid #cfcfcf;
  height: 28px;
  border-radius: 3px;
  padding-left: 10px;
}
button {
  width: 110px;
  height: 40px;
  background-color: #ed6e56;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
input[type=button] {
  width: 110px;
  height: 40px;
  background-color: #ed6e56;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
button.blue {
  background-color: #7598b9;
}
.blue {
  background-color: #7598b9;
}
table {
  width: 100%;
}
table thead tr {
  border-width: 1px;
  border-style: none none double none;
  border-color: #dddddd;
  height: 48px;
}
table thead tr th {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 48px;
}
table tbody tr td {
  text-align: center;
  color: #666666;
  font-size: 16px;
}
table tbody tr:hover {
  background-color: #f9f9fb;
}
/*.colorEven{
  background-color: #fff;
}*/
/*h4{
  display: inline-block;
  margin-left: 20px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  color:@h2Color;
  margin-bottom: 20px;
  border-left:5px solid @h2Color;
  text-indent: 16px;
  margin-top: 20px;
}*/
p {
  height: 36px;
  line-height: 36px;
  color: #666;
}
input.date_in {
  background-image: url('../image/sprite.png');
  background-position: 100px -544px;
}
.redColor {
  color: #ed6e56;
}
