#internalCustomer .content {
  padding: 20px 20px 50px;
  background-color: #fff;
}
#internalCustomer .content .thead-outer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
#internalCustomer .content .thead-outer .thead-core {
  padding: 15px 0;
  border-bottom: 1px solid #dddddd;
}
#internalCustomer .content .thead-outer .thead-core .thead-content div {
  float: left;
  text-align: center;
  color: #333;
}
#internalCustomer .content .thead-outer .thead-core .thead-content .no {
  width: 10%;
}
#internalCustomer .content .thead-outer .thead-core .thead-content .name {
  width: 40%;
  text-align: left;
  padding-left: 100px;
}
#internalCustomer .content .body-box .bodyList {
  padding: 15px 0;
  border-bottom: 1px solid #dddddd;
}
#internalCustomer .content .body-box .bodyList div {
  float: left;
  text-align: center;
  color: #666;
}
#internalCustomer .content .body-box .bodyList .no {
  width: 10%;
}
#internalCustomer .content .body-box .bodyList .name {
  width: 40%;
  text-align: left;
  padding-left: 60px;
}
@media screen and (max-width: 1600px) {
  #internalCustomer {
    font-size: 14px;
  }
  #internalCustomer .content .body-box .bodyList {
    padding: 15px 0;
  }
}
