#partnerNew{
  .content{
    padding: 20px 4%;
    color: #666;
    background-color: #fff;
    h4{
      color: #333;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 16px;
    }
    form{
      font-size: 14px;
      >div{
        margin-bottom: 15px;
      }
    }
    .flDiv{
      width:70%;
      input{
        width: 80%;
      }
      input.code{
        width: 11%;
      }
    }
    .frDiv{
      width:30%;
      input{
        width: 60%;
      }
    }
    span.mark{
      color:@BrightColor;
      font-size: 20px;
      position: relative;
      top:5px;
      margin-right: 5px;
    }
    .line{
      font-size:1%;
    }
    label{
      width: 60px;
    }
    input{
      height: 30px;
      border: 1px solid #dddddd;
      border-radius: 5px;
    }
    input[type='radio']{
      margin-right: 6px;
      width: 16px;
      height:16px;
    }
    .status{
      padding-left: 18px;
      .reason{
        width: 62%;
      }
    }
    .newBtn{
      height: 34px;
      width: 88px;
      border: 1px solid @BrightColor;
      font-size: 14px;
      background-color: #fff;
      color: @BrightColor;
      border-radius: 8px;
    }
    .thead-outer{
      height:48px;
      padding-bottom: 10px;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      .thead-core{
        height:48px;
        border-bottom: 1px solid #dddddd;
        >div{
          height: 48px;
          line-height: 48px;
          float: left;
          color: #333;
        }
        .no{
           width: 8%;
         }
        .addressType{
          width: 12%;
        }
        .short{
          width: 14%;
        }
        .address{
          width: 35%;
        }
        .postcode{
          width: 15%;
        }
        .operation{
          width: 16%;
        }
        .name{
          width: 8%;
        }
        .obligation{
          width: 10%;
        }
        .demp{
          width: 10%;
        }
        .duty{
          width: 10%;
        }
        .tel{
          width: 10%;
        }
        .phone{
          width: 10%;
        }
        .email{
          width: 10%;
        }
        .address2{
          width: 10%;
        }
        .operation{
          width: 14%;
        }
      }
    }
    .addressList{
      .list{
        padding:10px 0;
        border-bottom: 1px solid #dddddd;
        >div{
          float: left;
        }
        .no{
          width: 8%;
        }
        .addressType{
          width: 12%;
        }
        .short{
          width: 14%;
        }
        .address{
          width: 35%;
        }
        .postcode{
          width: 15%;
        }
        .operation{
          width: 16%;
        }
        .editAdd{
          color: #64b92b;
          margin-right: 8%;
        }
        .name{
          width: 8%;
        }
        .obligation{
          width: 10%;
        }
        .demp{
          width: 10%;
        }
        .duty{
          width: 10%;
        }
        .tel{
          width: 10%;
        }
        .phone{
          width: 10%;
        }
        .email{
          width: 10%;
        }
        .address2{
          width: 10%;
        }
        .operation{
          width: 14%;
        }
      }
    }
    .businessScope{
      input[type="checkbox"]{
        width: 16px;
        height: 16px;
        margin-right: 5px;
        position: relative;
        top:-1px;
      }
      label{
        width: auto;
        margin-right: 4%;
      }
      .businessCheckbox{
        padding: 10px 0;
        padding-left: 3%;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
      }
    }
    .classificationOfPartners{
      input[type="checkbox"]{
        width: 16px;
        height: 16px;
        margin-right: 5px;
        position: relative;
        top:-1px;
      }
      label{
        width: auto;
        margin-right: 4%;
      }
      .classificationOfPartnersCheckbox{
        padding: 10px 0;
        padding-left: 3%;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
      }
    }
  }
}