#partnerNew{
  input#upload{
    background-color: #dddddd;
    color:#333;
  }
  #download{
    display: inline-block;width: 60px;padding-left: 0;color:#333;height: 30px;background-color:#ddd;
    text-align: center;
    line-height: 30px;
    position: relative;
    top:2px;
    left:10px;
    border-radius: 5px;
  }
  .content{
    color: #666;
    padding-bottom: 700px;
    margin-top: 170px;
    h4{
      color: #333;
      margin-top:30px;
      font-weight: 600;
      font-size: 16px;
    }
    form{
      padding: 20px 3%;
      background-color: #fff;
      font-size: 14px;
      position: relative;
      .baseInfo >div{
        margin-bottom: 15px;
      }
      .buttonBox{
        width: 500px;
        height: 40px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom:-70px;
        button{
          width: 110px;
          height: 40px;
          background-color: @BrightColor;
          font-size: 18px;
        }
      }
      .warning{
        color: red;
        position: absolute;
        right: 0;
      }
      .hiddenInput{
        width: 0;
        height:0;
        opacity:0;
      }
    }
    .flDiv{
      width:70%;
      input{
        width: 80%;
      }
      input.code{
        width: 10%;
      }
    }
    .frDiv{
      width:30%;
      input{
        width: 60%;
      }
    }
    .line{
      font-size:1%;
    }
    label{
      width: 60px;
    }
    label.income{
      width: 100px;
      margin-right: 0;
    }
    input{
      height: 30px;
      border: 1px solid #dddddd;
      border-radius: 5px;
    }
    input[type='radio']{
      margin-right: 6px;
      width: 16px;
      height:16px;
    }
    .status{
      padding-left: 18px;
      .reason{
        width: 62%;
      }
    }
    .newBtn{
      height: 34px;
      width: 88px;
      border: 1px solid @BrightColor;
      font-size: 14px;
      background-color: #fff;
      color: @BrightColor;
      border-radius: 8px;
    }
    .thead-outer{
      height:48px;
      padding-bottom: 10px;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      .thead-core{
        height:48px;
        border-bottom: 1px solid #dddddd;
        >div{
          height: 48px;
          line-height: 48px;
          float: left;
          color: #333;
        }
        .no{
            width: 5%;
          }
        .no2{
          width: 3%;
        }
        .addressType{
          width: 12%;
        }
        .short{
          width: 14%;
        }
        .address{
          width: 35%;
        }
        .postcode{
          width: 15%;
        }
        .operation{
          width: 19%;
        }
        .name{
          width: 6%;
          line-height: 42px;
        }
        .obligation{
          width: 4%;
          line-height: 42px;
        }
        .demp{
          width: 8%;
        }
        .duty{
          width: 6%;
        }
        .tel{
          width: 8%;
        }
        .phone{
          width: 10%;
          line-height: 42px;
        }
        .email{
          width: 12%;
          line-height: 42px;
        }
        .qq{
          width: 7%;
        }
        .weChat{
          width: 7%;
        }
        .address2{
          width: 20%;
        }
        .operation{
          width: 6%;
        }
      }
    }
    .listBoxStyle{
      .list{
        padding:10px 0;
        border-bottom: 1px solid #dddddd;
        >div{
          float: left;
        }
        .no{
          width: 5%;
        }
        .no2{
          width: 3%;
        }
        .addressType{
          width: 12%;
        }
        .short{
          width: 14%;
        }
        .address{
          width: 35%;
        }
        .postcode{
          width: 15%;
        }
        .operation{
          width: 19%;
        }
        .editAdd{
          color: #64b92b;
          margin-right: 8%;
        }
        .name{
          width: 6%;
        }
        .obligation{
          width: 4%;
        }
        .demp{
          width: 8%;
        }
        .duty{
          width: 6%;
        }
        .tel{
          width: 8%;
        }
        .phone{
          width: 10%;
        }
        .email{
          width: 12%;
        }
        .qq{
          width: 7%;
        }
        .weChat{
          width: 7%;
        }
        .address2{
          width: 20%;
        }
        .operation{
          width: 6%;
        }
      }
      .addingAdd,.editingAdd,.addingCon,.editingCon{
        padding:10px 0;
        border-bottom: 1px solid #dddddd;
        >div{
          float: left;
        }
        .no{
          width: 5%;
        }
        .no2{
          width: 3%;
        }
        .addressType{
          width: 12%;
        }
        .short{
          width: 14%;
        }
        .address{
          width: 35%;
        }
        .postcode{
          width: 15%;
        }
        .operation{
          width: 19%;
        }
        .editAdd{
          color: #64b92b;
          margin-right: 8%;
        }
        .confirmAdd{
          color: #64b92b;
          margin-right: 8%;
        }
        .confirmEdit{
          color: #64b92b;
          margin-right: 8%;
        }
        .name{
          width: 6%;
        }
        .obligation{
          width: 4%;
        }
        .demp{
          width: 8%;
        }
        .duty{
          width: 6%;
        }
        .tel{
          width: 8%;
        }
        .phone{
          width: 10%;
        }
        .email{
          width: 12%;
        }
        .qq{
          width: 7%;
        }
        .weChat{
          width: 7%;
        }
        .address2{
          width: 20%;
        }
        .operation{
          width: 6%;
        }
      }
      .delAdd{

      }
      .delAdd:hover{
        color: #ed6e56;
      }
      .cancelAdd:hover{
        color: #ed6e56;
      }
      .cancelEdit:hover{
        color: #ed6e56;
      }
    }
    .businessScope{
      input[type="checkbox"]{
        width: 16px;
        height: 16px;
        margin-right: 5px;
        position: relative;
        top:-1px;
      }
      label{
        width: auto;
       /* margin-right: 3.6%;*/
      }
      .businessCheckbox{
        padding: 10px 0;
        padding-left: 3%;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        margin-top: 5px;
        div{
          position: relative;
          margin-right: 3%;
          &:hover{
            .hoverSpan{
              display: inline-block;
            }
          }
        }
        .hoverSpan{
          width: 300px;
          position: absolute;
          top:-12px;
          left:-8px;
          display: none;
        }
      }
    }
    .classificationOfPartners{
      input[type="checkbox"]{
        width: 16px;
        height: 16px;
        margin-right: 5px;
        position: relative;
        top:-1px;
      }
      label{
        width: auto;
        margin-right: 4%;
      }
      .partnersCheckbox{
        padding: 10px 0;
        padding-left: 3%;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        margin-top: 5px;
      }
    }
    .wbkhStyle{
      padding-left: 20px;
      h5{
        font-size: 16px;
        color: #333;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      h6{
        display: inline;
      }
      .fl1{
        width: 23%;
        height:234px;
        margin-right: 1%;
        .topLayer{
          height:90px;
          border: 1px solid #dddddd;
          margin-bottom: 9px;
          padding:8px 0 8px 15px;
          label{
            width: auto;
            margin-right: 8%;
          }
          label.income{
            width: 100px;
            margin-right: 0;
          }
          input[type='checkbox']{
            width: 16px;
            height: 16px;
            margin-right: 2px;
          }
        }
        .bottomLayer{
          height:100px;
          border: 1px solid #dddddd;
          padding:8px 15px;
          label{
            width: 120px;
            margin-right: 0;
          }
          input[type='checkbox']{
              margin-right: 5px;
            }
          input[type='text']{
            height: 28px;
            width: 40%;
          }
        }
      }
      .fl2{
        padding: 20px 0 0 2%;
        width: 22%;
        height:212px;
        border: 1px solid #dddddd;
        margin-right: 1%;
        label{
          width: 100px;
          margin-right: 0;
        }
        div{
          height:50px;
        }
        select{
          width: 44%;
        }
        input{
          width: 40%;
          height: 28px;
        }
      }
      .fl3{
        padding:10px 1%;
        width: 48%;
        height: 212px;
        border: 1px solid #dddddd;
        label{
          width: auto;
        }
        input[type='text']{
          height: 28px;
        }
        .bank{
          width: 35%;
          margin-right: 2%;
        }
        .Taxpayers{
          width: 22%;
        }
        .bankNo{
          width: 40%;
          margin-right: 2%;
        }
        .tel{
          width: 22%;
        }
        .comAddress{
          width: 52%;
          margin-right: 2%;
        }
        .outputRate{
          width: 10%;
        }
        .fl3Div{
          margin-bottom: 10px;
        }
      }
    }
  }
  input[type='checkbox']{
    width: 16px;
    height: 16px;
  }
  input[type='text']{
    height: 28px;
  }
  .consignee{
    label{
      width: auto;
    }
    .consigneeInfo{
      padding: 20px 2%;
      border: 1px solid #dddddd;
      .consigneeInfoBox{
        div{
          width: 20%;
          input{
            width: 60%;
          }
        }
      }
    }
  }
  .userNameLi{
    display: none;
    width: 500px;
    height: 160px;
    overflow-y: auto;
    background-color: #f8f7fa;
    position: absolute;
    z-index: 1002;
    left:0;
    li{
      height: 34px;
      line-height: 34px;
      text-indent: 16px;
      border-bottom: 1px solid #fafafd;
      cursor: default;
      span{
        margin-right: 20px;
      }
    }
  }
  .wbkhInvoiceType{
    margin-left: 10px;
    padding-left: 0;
    width: 20%
  }
  .invoiceTypeTitle{
    width: 100px;
    height: 28px;
    text-align:center;
    line-height: 28px;
    border: 1px solid #d5d5d5;
    border-bottom: none;
    position: relative;
    top:1px;
  }
  .bankInfo{
    background-color:#fcfbfd;
    border: 1px solid #d5d5d5;
    padding: 10px 0 0 10px;
    .mark{
      display: none;
    }
    .sbmMark{
      display: inline-block;
    }
  }
  .spreadAdd{
    cursor: pointer;
  }
  .packUpAdd{
    cursor: pointer;
  }
  .spreadCon{
    cursor: pointer;
  }
  .packUpCon{
    cursor: pointer;
  }
  #callOff{
    background-color: #f49633;
  }
  #close{
    background-color: #f49633;
  }
  .mark{
    color:@BrightColor;
    font-size: 20px;
    position: relative;
    top:5px;
    margin-right: 5px;
    &.disableMark{
      color: #fff;
    }
  }
  .businessItem{
    .mark{
      margin-right:0;
    }
  }
  .wbkhStyle .mark{
    background-color: #fff;
  }
  .businessItem{
    display: none;
    width: 16.6%;
    margin: 10px 0;
    label{
      width: 100px;
      margin-right: 0;
    }
    input[type="text"]{
      width: 40%;
      height: 26px;
    }
    select{
      width: 44%;
    }
  }
  #addTo{
      .div1,.div2{
        label{
          margin-right: 0;
        }
        width: 18%;
        input{
          width: 40%;
        }
        select{
          width: 50%;
        }
      }
      .div3{
        width: 30%;
        label{
          width:70px;
          margin-right: 0;
        }
        input{
          width: 120px;
        }
      }
      .div4{
        width: 30%;
        input{
          width: 60%;
        }
      }
    }
  #profitCenter{
    width:60%;
  }
  #currency{
    width: 60%;
  }
  #endDate,#startDate{
    width: 30%;
    background-image: url(../image/sprite.png);
    background-position: 103px -228px;
    cursor: default;
  }
}
#specialNav{
  height: 190px;
  position: fixed;
  z-index: 99;
  top:60px;
  left:220px;
  right:20px;
  background-color: #f8f7fa;
  #navigationBar{
    padding:0 2%;
    background-color: #fff;
    box-shadow: 0 2px 5 #000;
    margin-top: 20px;
    h3{
      font-size: 18px;
      color: #ed6e56;
      position: relative;
      top: 15px;
    }
    .title{
      font-size: 18px;
      color: #333;
      text-align: center;
      position: relative;
      top: -10px;
    }
  }
  h2{
    margin-top: 20px;
    font-size: 18px;
    color: #666;
    border-left: 6px solid #ed6e56;
    text-indent: 16px;
  }
  #flow>div{
    width: 8.2%;
    height: 60px;
    float:left;
    cursor: pointer;
  }
  .bor-Size{
    width: 100%;
    height:12px;
    position: relative;
  }
  .borden-l {
    border-top: 3px solid #bfc0c1;
    width:40%;
    height: 0;
    margin: 4px auto;
    position: absolute;
    left: 0;
  }
  .borden-r {
    border-top: 3px solid #bfc0c1;
    width:40%;
    height: 0;
    margin: 4px auto;
    position: absolute;
    right: 0;
  }
  .borden1{
    display: none;
  }
  .yuan {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    background-color: #bfc0c1;
  }
  .active .yuan{
    background-color: #ed6e56;
  }
  .active .borden-r {
    border-top: 3px solid #ed6e56;
  }
  .active .borden-l {
    border-top: 3px solid #ed6e56;
  }
  .on .yuan{
    background-color: #ed6e56;
  }
  .on .borden-r {
    border-top: 3px solid #ed6e56;
  }
  .next .borden-l {
    border-top: 3px solid #ed6e56;
  }
  .status-div .status.on p{
    color:#ed6e56;
  }
  .status {
    height:45px;
    margin-top:15px;
  }
  .status.active p {
    color:#ed6e56;
  }
  .status p {
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    width: 80%;
    margin: 0 auto;
    color:#666;
  }
}
@media screen and (max-width: 1600px) {
  #specialNav{
    height: 190px;
    position: fixed;
    z-index: 99;
    top:60px;
    left:200px;
    right:20px;
    background-color: #f8f7fa;
  }
  #partnerNew{
    .content{
      form{
        font-size: 12px;
        .wbkhStyle{
          padding-left: 10px;
          .fl1{
            width: 23%;
            height:234px;
            margin-right: 1%;
            .topLayer{
              height:90px;
              border: 1px solid #dddddd;
              margin-bottom: 9px;
              padding:8px 15px;
              label{
                width: auto;
               /* margin-right: 8%;*/
              }
              label.income{
                width: 80px;
                margin-right: 0;
              }
              input[type='checkbox']{
                width: 16px;
                height: 16px;
                margin-right: 2px;
              }
            }
            .bottomLayer{
              height:100px;
              border: 1px solid #dddddd;
              padding:8px 15px;
              label{
                width: 100px;
                margin-right: 0;
              }
              input[type='checkbox']{
                margin-right: 5px;
              }
              input[type='text']{
                height: 28px;
                width: 35%;
              }
            }
          }
          .fl2 label{
            width: 84px;
            margin-right:0;
        }
        }
      }
      input{
        font-size: 12px;
        padding-left: 6px;
      }
      label.income {
        width: 80px;
        margin-right: 0;
      }
    }
    select {
      padding-left: 5px;
      font-size: 12px;
    }
    .status p {
      font-size: 14px;
      line-height: 16px;
    }
    .businessItem{
      display: none;
      width: 16.6%;
      label{
        width: 80px;
        margin-right: 0;
      }
      input[type="text"]{
        width:40%;
        height: 26px;
      }
      select{
        width: 43%;
        padding-left:0;
      }
    }
    #addTo{
      .div3{
        width: 30%;
        label{
          width:70px;
          margin-right: 0;
        }
        input{
          width: 100px;
        }
      }
      .div4{
        width: 30%;
        input{
          width: 60%;
        }
      }
      #endDate,#startDate{
        background-image: url(../image/sprite.png);
        background-position: 80px -228px;
        cursor: default;
      }
    }
  }

}
@media screen and (max-width: 1400px) {
  #partnerNew{
    #addTo{
      .div3{
        width: 34%;
        label{
          width:70px;
          margin-right: 0;
        }
        input{
          width: 100px;
        }
      }
      #endDate,#startDate{
        background-image: url(../image/sprite.png);
        background-position: 80px -228px;
        cursor: default;
      }
    }
  }

}