<div id="business" class="right_content">
    <div class="nav">
        <h2>业务范畴查询</h2>
    </div>
    <div class="content clearfix">
        <div class="thead-outer clearfix">
            <div class="thead-core clearfix">
               <div class="thead-content clearfix">
                   <div class="no">序号</div>
                   <div class="business">业务范畴</div>
                   <div class="description">描述</div>
               </div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">1</div>
                <div class="business">AI</div>
                <div class="description">空运进口Air Import</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">2</div>
                <div class="business">AE</div>
                <div class="description">空运出口Air Export</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">3</div>
                <div class="business">SI</div>
                <div class="description">海运进口Sea Import</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">4</div>
                <div class="business">SE</div>
                <div class="description">海运出口Sea Export</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">5</div>
                <div class="business">TI</div>
                <div class="description">铁路进口Train Import</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">6</div>
                <div class="business">TE</div>
                <div class="description">铁路出口Train Export</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">7</div>
                <div class="business">OI</div>
                <div class="description">陆运进口Overland Import</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">8</div>
                <div class="business">OE</div>
                <div class="description">陆运出口Overland Export</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">9</div>
                <div class="business">IT</div>
                <div class="description">国内运输Internal Transportation</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">10</div>
                <div class="business">DDN</div>
                <div class="description">达达牛</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">11</div>
                <div class="business">YYOX</div>
                <div class="description">邮客</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">12</div>
                <div class="business">Industrial</div>
                <div class="description">钢贸</div>
            </div>
        </div>
    </div>
</div>
