<div id="credit" class="right_content">
    <div class="nav">
        <h2>信用等级管理</h2>
    </div>
    <div class="content clearfix" id = "databasic">
        <div class="thead-outer clearfix">
            <div class="thead-core clearfix">
                <div class="thead-content clearfix">
                    <div class="no">序号</div>
                    <div class="class">信用等级</div>
                    <div class="protocolType">协议类型</div>
                    <div class="defaultLine">默认额度(万元)</div>
                    <div class="defaultDeadline">默认期限(天)</div>
                    <div class="valid">是否有效</div>
                    <div class="remark">备注</div>
                </div>
            </div>
        </div>
        <div class="body-box" id = "credit_body_datas">

        </div>
        <div id="editBtn" class="clearfix">
            <input class="fl" type="button" value="确认" id="confirmClick" >
            <input class="fr" type="button" value="取消" id="cancelClick" >
        </div>
    </div>
</div>