<div id="credit" class="right_content">
    <div class="nav">
        <h2>业务范畴查询</h2>
    </div>
    <div class="content clearfix">
        <div class="thead-outer clearfix">
            <div class="thead-core clearfix">
                <div class="thead-content clearfix">
                    <div class="no">序号</div>
                    <div class="class">信用等级</div>
                    <div class="protocolType">协议类型</div>
                    <div class="valid">是否有效</div>
                </div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">1</div>
                <div class="class">A</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">2</div>
                <div class="class">B</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">3</div>
                <div class="class">C</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">4</div>
                <div class="class">D</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">5</div>
                <div class="class">E</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">6</div>
                <div class="class">F</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">7</div>
                <div class="class">G</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">8</div>
                <div class="class">H</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">9</div>
                <div class="class">I</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">10</div>
                <div class="class">J</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">11</div>
                <div class="class">K</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">12</div>
                <div class="class">L</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">13</div>
                <div class="class">M</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">14</div>
                <div class="class">N</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">15</div>
                <div class="class">O</div>
                <div class="protocolType">
                    <input type="radio" name="type1"><label for="">协议/保函</label>
                    <input type="radio" name="type1"><label for="">付款买单</label>
                    <input type="radio" name="type1"><label for="">签约在途</label>
                </div>
                <div class="valid">
                    <input type="radio" name=""><label for="">有效</label>
                </div>
            </div>
        </div>
    </div>
</div>
