<div id="hierarchy" class="right_content">
    <div class="nav">
        <h2>信用等级管理</h2>
    </div>
    <div class="content clearfix">
        <div id="remark">
           <p>*&nbsp;设置合作伙伴代码每个层级的位数</p>
           <p>&nbsp;&nbsp;&nbsp;1、此位数指英文字母的数量</p>
           <p>&nbsp;&nbsp;&nbsp;2、一旦使用，不可更改，请慎重设定</p>
        </div>
        <div class="tier">
            <div class="table-header clearfix">
               <div class="table-header-box clearfix">
                   <div class="list">
                       <div class="item"><span>第一层</span></div>
                       <div class="item"><span>第二层</span></div>
                       <div class="item"><span>第三层</span></div>
                       <div class="item"><span>第四层</span></div>
                       <div class="item"><span>第五层</span></div>
                       <div class="item"><span>第六层</span></div>
                   </div>
               </div>
            </div>
            <div class="selectBox clearfix">

                <div class="item">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
                <div class="item">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
                <div class="item">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
                <div class="item">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
                <div class="item">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
                <div class="item">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
