<div id="hierarchy" class="right_content">
    <div class="nav">
        <h2>信用等级管理</h2>
    </div>
    <div class="content clearfix">
        <div id="remark">
           <p>*&nbsp;设置合作伙伴代码每个层级的位数</p>
           <p>&nbsp;&nbsp;&nbsp;1、此位数指英文字母的数量</p>
           <p>&nbsp;&nbsp;&nbsp;2、一旦使用，不可更改，请慎重设定</p>
        </div>
        <div class="tier">

            <div class="table-header clearfix">
                <div class="table-header-box clearfix">
                    <div class="list"  >
                        <div class="item"><input type="button" value="确认" id="confirmClick" ></div>
                        <div class="item"><input type="button" value="取消" id="cancelClick" ></div>
                    </div>
                </div>
            </div>

            <div class="table-header clearfix">
               <div class="table-header-box clearfix">
                   <div class="list" id ="hi_base_layer">
                    <!--第几层-->
                   </div>
               </div>
            </div>
            <div class="selectBox clearfix" id = "hi_base_layer_body">
                <!--层数-->
            </div>
        </div>
    </div>
</div>
