<div id="homePage" class="right_content">
    <div class="nav">
        <h2>首页</h2>
    </div>
    <div class="content clearfix">
        <div class="account-setting clearfix">
            <h3>管理员账号信息</h3>
            <div id="username">
                <label for="">用户名：</label>
                <em id="name" class="nameShow"></em>
                <input id="nameInput" class="nameEdit" type="text">
                <a id="nameEdit" class="nameShow" href="javascript:void(0);">修改</a>
                <a id="nameCancel" class="nameEdit" href="javascript:void(0);">取消</a>
                <a id="nameConfirm" href="javascript:void(0);">确定</a>
            </div>
            <div id="password">
                <label  for="">密码：</label>
                <em class="passwordShow">******</em>
                <input id="passwordInput" class="passwordEdit" type="password">
                <a id="passwordEdit" class="passwordShow" href="javascript:void(0);">修改</a>
                <a id="passwordCancel" class="passwordEdit" href="javascript:void(0);">取消</a>
                <a id="passwordConfirm" href="javascript:void(0);">确定</a>
            </div>
            <div id="email">
                <label for="">邮箱：</label>
                <em id="emailVal" class="emailShow">zhangxiaowei@pj-l.com</em>
                <input id="emailInput" class="emailEdit" type="text">
                <a id="emailEdit" class="emailShow" href="javascript:void(0);">修改</a>
                <a id="emailCancel" class="emailEdit" href="javascript:void(0);">取消</a>
                <a id="emailConfirm" href="javascript:void(0);">确定</a>
            </div>
        </div>
        <!-- createBy ____ sevenBoy  2017年12月19日17:51:28   自动邮件发送-->
        <div class="operation-log clearfix">
            <h3>自动报表</h3>
            <div class="account-setting clearfix">
                <div class="fr">
                    <button id="seek1"  style="width: 300px;"  type="button">上月新增Partner清单</button>
                </div>

                <div class="fr">
                    <button id="seek2"  style="width: 300px;" type="button">签约在途Partner清单</button>
                </div>

                <div class="fr">
                    <button id="seek3" style="width: 300px;" type="button">即将到期Partner清单</button>
                </div>
            </div>
        </div>

        <div class="operation-log clearfix">
            <h3>操作日志</h3>
            <div class="listBox" id="operationLog">
            </div>
        </div>

        <div class="access-log clearfix">
            <h3>权限日志</h3>
            <div class="listBox" id="accessLog">
            </div>
        </div>
    </div>
</div>
