<div id="homePage" class="right_content">
    <div class="nav">
        <h2>首页</h2>
    </div>
    <div class="content clearfix">
        <div class="account-setting clearfix">
            <h3>管理员账号信息</h3>
            <div id="username">
                <label for="">用户名：</label>
                <em>admin</em>
                <a href="javascript:void(0);">修改</a>
            </div>
            <div id="passward">
                <label for="">密码：</label>
                <em>1111111111</em>
                <a href="javascript:void(0);">修改</a>
            </div>
            <div id="email">
                <label for="">邮箱：</label>
                <em>zhangxiaowei@pj-l.com</em>
                <a href="javascript:void(0);">修改</a>
            </div>
        </div>
        <div class="operation-log clearfix">
            <h3>操作日志</h3>
            <div class="listBox">
                <div class="o-l-list clearfix">
                    <div class="fl">
                        <p><em>张三</em><span>2017年8月20日 12:16</span></p>
                        <p>ID：<span>zhangdan@pj-l.com</span> 公司：<span>盘江物流</span></p>
                        <p>部门：<span>研发中心</span> 岗位：<span>产品经理</span></p>
                    </div>
                    <div class="fr">
                        <h4>操作日志：</h4>
                        <span>菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；</span>
                    </div>
                </div>
                <div class="o-l-list clearfix">
                    <div class="fl">
                        <p><em>张三</em><span>2017年8月20日 12:16</span></p>
                        <p>ID：<span>zhangdan@pj-l.com</span> 公司：<span>盘江物流</span></p>
                        <p>部门：<span>研发中心</span> 岗位：<span>产品经理</span></p>
                    </div>
                    <div class="fr">
                        <h4>操作日志：</h4>
                        <span>菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；</span>
                    </div>
                </div>
                <div class="o-l-list clearfix">
                    <div class="fl">
                        <p><em>张三</em><span>2017年8月20日 12:16</span></p>
                        <p>ID：<span>zhangdan@pj-l.com</span> 公司：<span>盘江物流</span></p>
                        <p>部门：<span>研发中心</span> 岗位：<span>产品经理</span></p>
                    </div>
                    <div class="fr">
                        <h4>操作日志：</h4>
                        <span>菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；菜单名：字段名&lt;原值&gt;(新值)；</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="access-log clearfix">
            <h3>权限日志</h3>
            <div class="listBox">
                <div class="a-l-list clearfix">
                    <div class="fl">
                        <p><em>张三</em><span>2017年8月20日 12:16</span></p>
                        <p>ID：<span>zhangdan@pj-l.com</span> 公司：<span>盘江物流</span></p>
                        <p>部门：<span>研发中心</span> 岗位：<span>产品经理</span></p>
                    </div>
                    <div class="fr">
                        <h4>操作日志：</h4>
                        <p>菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；</p>
                    </div>
                </div>
                <div class="a-l-list clearfix">
                    <div class="fl">
                        <p><em>张三</em><span>2017年8月20日 12:16</span></p>
                        <p>ID：<span>zhangdan@pj-l.com</span> 公司：<span>盘江物流</span></p>
                        <p>部门：<span>研发中心</span> 岗位：<span>产品经理</span></p>
                    </div>
                    <div class="fr">
                        <h4>操作日志：</h4>
                        <p>菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；</p>
                    </div>
                </div>
                <div class="a-l-list clearfix">
                    <div class="fl">
                        <p><em>张三</em><span>2017年8月20日 12:16</span></p>
                        <p>ID：<span>zhangdan@pj-l.com</span> 公司：<span>盘江物流</span></p>
                        <p>部门：<span>研发中心</span> 岗位：<span>产品经理</span></p>
                    </div>
                    <div class="fr">
                        <h4>操作日志：</h4>
                        <p>菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；菜单-按钮；</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
