<div id="internalCustomer" class="right_content">
    <div class="nav">
        <h2>内部客户查询</h2>
    </div>
    <div class="content clearfix">
        <div class="thead-outer clearfix">
            <div class="thead-core clearfix">
               <div class="thead-content clearfix">
                   <div class="no">序号</div>
                   <div class="shortName">公司简称</div>
                   <div class="name">公司名称</div>
               </div>
            </div>
        </div>
        <div id="customerList" class="body-box">

        </div>
    </div>
</div>
