<div id="log" class="right_content">
    <div class="nav">
        <h2>系统日志</h2>
    </div>
    <div class="content clearfix">
       <div class="topBar clearfix">
           <ol class="fl">
               <li class="fl active" id="operationLog">操作日志</li>
               <li class="fl" id="permissionsLog">权限日志</li>
           </ol>
           <div class="fr">
               <input class="startTime" type="text">
               <em>至</em>
               <input class="endTime" type="text">
               <a class="query" href="javascript:void(0);">查询</a>
           </div>
       </div>
        <div class="logList clearfix">
            <div class="thead-outer clearfix">
                <div class="thead-core clearfix">
                    <div class="loginId">登录ID</div>
                    <div class="name">姓名</div>
                    <div class="company">公司</div>
                    <div class="department">部门</div>
                    <div class="post">岗位</div>
                    <div class="time">操作时间</div>
                    <div class="log">操作日志</div>
                </div>
            </div>
            <div class="body-box">
                <div class="bodyList clearfix">
                    <div class="loginId">123456</div>
                    <div class="name">欧阳丹丹</div>
                    <div class="company">中亚宝丰国际物流有限公司</div>
                    <div class="department">海运事业部</div>
                    <div class="post">项目经理</div>
                    <div class="time">1852526669522</div>
                    <div class="log">niemgnudnuadnaduaeun@pj-l.com</div>
                </div>
                <div class="bodyList clearfix">
                    <div class="loginId">123456</div>
                    <div class="name">欧阳丹丹</div>
                    <div class="company">中亚宝丰国际物流有限公司</div>
                    <div class="department">海运事业部</div>
                    <div class="post">项目经理</div>
                    <div class="time">1852526669522</div>
                    <div class="log">niemgnudnuadnaduaeun@pj-l.com</div>
                </div>

                <div class="bodyList clearfix">
                    <div class="loginId">123456</div>
                    <div class="name">欧阳丹丹</div>
                    <div class="company">中亚宝丰国际物流有限公司</div>
                    <div class="department">海运事业部</div>
                    <div class="post">项目经理</div>
                    <div class="time">1852526669522</div>
                    <div class="log">niemgnudnuadnaduaeun@pj-l.com</div>
                </div>
                <div class="bodyList clearfix">
                    <div class="M-box4"  ><span>a登录了看见爱上对方了解开发离开家 了</span></div>
                </div>
            </div>

        </div>

    </div>
</div>
