<div id="log" class="right_content">
    <div class="nav">
        <h2>系统日志</h2>
    </div>
    <div class="content clearfix">
       <div class="topBar clearfix">
           <ol class="fl">
               <li class="fl active" id="operationLog">操作日志</li>
               <li class="fl" id="permissionsLog">权限日志</li>
           </ol>
           <div class="fr">
               <input class="startTime" type="text"  id="startData" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
               <em>至</em>
               <input class="endTime" type="text" id="endData"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
               <a class="query" id ="findBydate">查询</a>
           </div>
       </div>
        <div class="logList clearfix">
            <div class="thead-outer clearfix">
                <div class="thead-core clearfix" id = "log_basic_title">

                </div>
            </div>
            <div class="body-box" id = "log_base_body">

            </div>
            <div class="M-box4"  ><span></span></div>
        </div>

    </div>
</div>
