<div id="partnerManage" class="right_content">
    <div class="nav">
        <h2>合作伙伴管理</h2>
    </div>
    <div class="content clearfix">
        <div class="searchBar">
            <div class="sortBox clearfix">
                <h6 class="fl">选择分类：</h6>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="外部客户"><label for="">外部客户</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="互为代理"><label for="">互为代理</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="海外代理"><label for="">海外代理</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="干线承运人"><label for="">干线承运人</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="不可控供应商"><label for="">不可控供应商</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="延伸服务供应商"><label for="">延伸服务供应商</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="收发货人"><label for="">收发货人</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="结算对象"><label for="">结算对象</label></div>
            </div>
            <div>
                <input id="mainPoint" type="text"><label id="query" class="searchBtn" for="">查询</label>
                <a id="toggle" class="clickLink" href="javascript:void(0);">显示/隐藏查询结果</a>
                <a class="clickLink" href="javascript:void(0);">查看停用Partner</a>
                <a class="clickLink" href="javascript:void(0);">查看黑名单Partner</a>
            </div>
        </div>
        <div class="handleBar clearfix">
            <div class="handle-left fl">
                <a id="collapseAllBtn" href="javascript:void(0);">全部收起</a>
                <a id="scrollTop" href="javascript:void(0);">到顶部</a>
                <a id="scrollBottom" href="javascript:void(0);">到底部</a>
            </div>
            <div class="handle-right fr">
                <a class="new" href="javascript:void(0);">新增子目录/文件</a>
                <a class="alter" href="javascript:void(0);">修改</a>
                <a id="transferBtn" href="javascript:void(0);">转移</a>
                <a id="delete" href="javascript:void(0);">删除</a>
            </div>
        </div>
        <div class="treeHome">
            <div class="thead-outer clearfix">
                <div class="thead-core">
                    <div class="fl Th" style="line-height: 50px;margin-left: 20px;width: 140px;">合作伙伴目录名称</div>
                    <div  style='margin-right: 10px;' class="fr Th version"><span>结算对象</span></div>
                    <div class="fr Th version"><span>收发货人</span></div>
                    <div class="fr Th version"><span>延伸服务</span></div>
                    <div class="fr Th version"><span>不可控</span></div>
                    <div class="fr Th version"><span>干线承运</span></div>
                    <div class="fr Th version"><span>海外代理</span></div>
                    <div class="fr Th upMan"><span>互为代理</span></div>
                    <div class="fr Th startTime"><span>外部客户</span></div>
                    <div class="fr Th endTime"><span>黑名单</span></div>
                    <div class="fr Th endTime"><span>停用</span></div>
                </div>
            </div>
        </div>
       <div style="position: relative;" class="clearfix">
           <div id="tree_box">
               <ul  class="ztree"  id="tree"></ul>
           </div>
           <div id="screen">
               <h3>检索结果</h3>
               <div>
                   <div id="selected">

                   </div>
               </div>
           </div>
       </div>
        <div id="transfer" class="clearfix">
            <h3>转移</h3>
            <div class="content">
                <div>
                    <p style="color: #333;">已选</p>
                    <div class="transfer-box">
                    </div>
                </div>
                <button id="transfer_btn" type="button">转移至</button>
                <label for="goal">转移至</label><input id="goal" type="text">
                <div class="bar">
                    <button id="tr-confirm" type="button">确认</button>
                    <button id="tr-delete" class="blue" type="button">删除选中</button>
                    <button id="tr-cancel" class="blue" type="button">取消</button>
                </div>
                <input id="deleteSelId" type="text" style="display: none;">
                <input id="toId" type="text"  style="display: none;">
            </div>
        </div>
    </div>
</div>
<script id="selectTemplate" type="text/x-dot-template">
    {{~it.data:value:index}}
    <span onclick="openShow({{= value.id}})">{{= value.chineseName}}</span>
    {{~}}
</script>

