<div id="partnerNew" class="right_content">
    <div id="specialNav" class="nav">
        <h2>合作伙伴管理 >> 新增</h2>
        <div id="navigationBar">
            <h3>基础信息</h3>
            <p class="title">分类详情信息</p>
            <div class="clearfix" id="flow">
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l borden1"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>基础表单</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>联系地址</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>联系人资料</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>业务范畴</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>合作伙伴分类</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>外部客户</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>互为代理</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>海外代理</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>干线承运人</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>不可控供应商</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>延伸服务供应商</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r"></div>
                    </div>
                    <div class="status">
                        <p>收发货人</p>
                    </div>
                </div>
                <div class="status-div">
                    <div class="bor-Size">
                        <div class="borden-l"></div>
                        <div class="yuan"></div>
                        <div class="borden-r borden1"></div>
                    </div>
                    <div class="status">
                        <p>结算对象</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content clearfix">
        <form id="newForm" class="clearfix">
            <input id="pId" name="pId" class="hiddenInput" type="text">
            <h4>基础信息</h4>
            <div class="lump baseInfo">
                <div class="clearfix">
                    <div class="fl flDiv">
                        <span class="mark">*</span>
                        <label for="">代码</label>
                        <input name="code" class="code code1" type="text" required>
                        <span class="line">—</span>
                        <input name="code" class="code code2" type="text" required>
                        <span class="line">—</span>
                        <input name="code" class="code code3" type="text" required>
                        <span class="line">—</span>
                        <input name="code" class="code code4" type="text" required>
                        <span class="line">—</span>
                        <input name="code" class="code code5" type="text" required>
                        <span class="line">—</span>
                        <input name="code" class="code code6" type="text" required>
                    </div>
                    <div class="fr frDiv">
                        <span class="mark">*</span>
                        <label for="">助记码</label>
                        <input name="mnemonicCode" class="" type="text" required>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="fl flDiv">
                        <span class="mark">*</span>
                        <label for="">中文全称</label>
                        <input id="chineseName" name="chineseName" type="text" required>
                    </div>
                    <div class="fr frDiv">
                        <span class="mark">*</span>
                        <label for="">中文简称</label>
                        <input id="chineseAbbreviation" name="chineseAbbreviation" class="" type="text" required>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="fl flDiv">
                        <span class="mark">*</span>
                        <label for="">英文全称</label>
                        <input id="englishName" name="englishName" type="text" required>
                    </div>
                    <div class="fr frDiv">
                        <span class="mark">*</span>
                        <label for="">英文简称</label>
                        <input id="englishAbbreviation" name="englishAbbreviation" class="" type="text" required>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="fl flDiv">
                        <span style="color: #fff;" class="mark">*</span>
                        <label for="">财务代码</label>
                        <input name="financingCode" type="text">
                    </div>
                    <div style="position: relative;height: 30px;" class="fr frDiv">
                        <span class="mark">*</span>
                        <label style="width: 70px;margin-right:0;" for="">提醒接受者</label>
                        <input id="dutyInput" type="text" value=""><span class="warning dutyOfficer-waring"></span>
                        <ul class="userNameLi">

                        </ul>
                        <input style="position: relative;top:-10px;" class="hiddenInput" id="receiverId" name="receiverId" type="text" required>
                        <input style="position: relative;top:-30px;" class="hiddenInput" id="receiverName" name="receiverName" type="text">
                    </div>
                </div>
                <div class="status clearfix">
                    <input id="isBlacklist" type="checkbox"><label for="">黑名单</label>
                    <!--隐藏黑名单-->
                    <input class="hiddenInput" name="isBlacklist" type="text" value="0">
                    <input id="isDisable" type="checkbox"><label for="">停用</label>
                    <input class="hiddenInput" name="isDisable" type="text" value="0">
                    <span class="mark disableMark">*</span><label for="">停用备注</label><input name="disableRemark" class="reason" type="text">
                </div>
            </div>

            <!--联系地址 start-->
            <div class="lump">
                <div>
                    <span class="mark">*</span><label for="">联系地址</label>
                    <button id="addAddress" class="newBtn" type="button">+ 新增地址</button>
                </div>
                <div class="redColor clearfix"><span class="fr spreadAdd">展开 ∨</span></div>
                <div style="padding-left: 16px;">
                    <div class="thead-outer">
                        <div class="thead-core">
                            <div class="no"><span>序号</span></div>
                            <div class="addressType"><span class="mark">*</span><span>地址类型</span></div>
                            <div class="short"><span class="mark">*</span><span>简称</span></div>
                            <div class="address"><span class="mark">*</span><span>地址</span></div>
                            <div class="postcode"><span>邮编</span></div>
                            <div class="operation"><span>操作</span></div>
                        </div>
                    </div>
                    <div class="addressList listBoxStyle">

                    </div>
                    <input class="hiddenInput" id="address" type="text" name="address" value="">
                </div>
                <div class="redColor clearfix"><span class="fr packUpAdd">收起 ∧</span></div>
            </div>
            <!--联系地址 end-->

            <!--联系人资料 start-->
            <div class="lump">
                <div>
                    <span class="mark">*</span><label style="width: 70px;" for="">联系人资料</label>
                    <button id="addContact" class="newBtn" type="button">+ 新增联系人</button>
                </div>
                <div class="redColor clearfix"><span class="fr spreadCon">展开 ∨</span></div>
                <div style="padding-left: 16px;">
                    <div class="thead-outer">
                        <div class="thead-core">
                            <div class="no"><span>序号</span></div>
                            <div class="name"><span class="mark">*</span><span>姓名</span></div>
                            <div class="obligation"><span class="mark">*</span><span>职责</span></div>
                            <div class="demp"><span>部门</span></div>
                            <div class="duty"><span>职务</span></div>
                            <div class="tel"><span>固话</span></div>
                            <div class="phone"><span class="mark">*</span><span>手机</span></div>
                            <div class="email"><span>邮件</span></div>
                            <div class="address2"><span>地址</span></div>
                            <div class="operation"><span>操作</span></div>
                        </div>
                    </div>
                    <div class="contactList listBoxStyle">

                    </div>
                    <input class="hiddenInput" id="linkmans" type="text" name="linkmans" value="">
                </div>
                <div class="redColor clearfix"><span class="fr packUpCon">收起 ∧</span></div>
            </div>
            <!--联系人资料 end-->

            <!--业务范畴 start-->
            <div class="lump businessScope">
                <div>
                    <span class="mark">*</span><label for="">业务范畴</label>
                    <div class="businessCheckbox">
                        <input type="checkbox" value="AI"><label for="">AI</label>
                        <input type="checkbox" value="AE"><label for="">AE</label>
                        <input type="checkbox" value="SI"><label for="">SI</label>
                        <input type="checkbox" value="SE"><label for="">SE</label>
                        <input type="checkbox" value="TI"><label for="">TI</label>
                        <input type="checkbox" value="TE"><label for="">TE</label>
                        <input type="checkbox" value="OI"><label for="">OI</label>
                        <input type="checkbox" value="OE"><label for="">OE</label>
                        <input type="checkbox" value="IT"><label for="">IT</label>
                        <input type="checkbox" value="DDN"><label for="">DDN</label>
                        <input type="checkbox" value="YYOX"><label for="">YYOX</label>
                        <input type="checkbox" value="Industrial"><label for="">Industrial</label>
                    </div>
                    <input id="scopeBusiness" style="width:0;height: 0;opacity: 0;position: relative;top: -10px;left: 40px;" name="scopeBusiness" type="text" required>
                </div>
            </div>
            <!--业务范畴 end-->

            <!--合作伙伴分类 start-->
            <div class="lump classificationOfPartners">
                <div>
                    <span class="mark">*</span><label for="">合作伙伴分类</label>
                    <div style="padding-left: 3%;" class="partnersCheckbox">
                        <input class="externalClient" type="checkbox" value="外部客户"><label for="">外部客户</label>
                        <input class="eachAgent" type="checkbox" value="互为代理"><label for="">互为代理</label>
                        <input class="overseasAgency" type="checkbox" value="海外代理"><label for="">海外代理</label>
                        <input class="trunkCarrier" type="checkbox" value="干线承运人"><label for="">干线承运人</label>
                        <input class="uncontrollableSupplier" type="checkbox" value="不可控供应商"><label for="">不可控供应商</label>
                        <input class="extendServiceProviders" type="checkbox" value="延伸服务供应商"><label for="">延伸服务供应商</label>
                        <input class="consigneeAndConsigner" type="checkbox" value="收发货人"><label for="">收发货人</label>
                        <input class="settlementObject" type="checkbox" value="结算对象"><label for="">结算对象</label>
                    </div>
                    <!--隐藏的合作伙伴分类-->
                    <input id="partnerCategory" class="hiddenInput" type="text" name="partnerCategory" required>
                </div>
            </div>
            <!--合作伙伴分类 end-->

            <h4>分类详细信息</h4>
            <!--外部客户 start-->
            <div class="lump wbkhStyle clearfix" id="externalClient">
                <h5>外部客户</h5>
                <div class="fl fl1">
                    <div class="topLayer">
                        <div><span class="mark">*</span><h6>客户分类</h6></div>
                        <div class="customerClassBox">
                            <input class="customerClass" type="checkbox" value="直客"><label for="">直客</label>
                            <input class="customerClass" type="checkbox" value="关键客户"><label for="">关键客户</label>
                            <input class="customerClass" type="checkbox" value="代理"><label for="">代理</label>
                            <input class="customerClass" type="checkbox" value="海外客户"><label for="">海外客户</label>
                        </div>
                        <input class="hiddenInput" id="wbkhCustomerClass" type="text" name="wbkhCustomerClass">
                    </div>
                    <div class="bottomLayer">
                        <input class="wbkhIsPayForAnother" type="checkbox" disabled><h6>代垫</h6>
                        <input class="hiddenInput" name="wbkhIsPayForAnother"  type="text" value="0">
                        <div>
                            <div><span class="mark">*</span><label style="margin-bottom: 5px;" for="">代垫期限（天）</label><input class="daiDian wbkhPaymentTerm" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" disabled></div>
                            <div><span class="mark">*</span><label for="">代垫额度（万元）</label><input class="daiDian wbkhPaidAmount" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" disabled></div>
                        </div>
                    </div>
                </div>
                <div class="fl fl2">
                    <div><span class="mark">*</span><label for="">信用等级</label>
                        <select class="wbkhCreditRating wbkhCreditRating1"  name="wbkhCreditRating">

                        </select>
                    </div>
                    <div><span class="mark">*</span><label for="">信用期限类型</label>
                        <select name="wbkhTypeCreditPeriod" class="wbkhTypeCreditPeriod">
                            <option value="业务日期">业务日期</option>
                            <option value="账单日期">账单日期</option>
                            <option value="发票日期">发票日期</option>
                        </select>
                    </div>
                    <div><span class="mark">*</span><label for="">信用期限（天）</label>
                        <input name="wbkhCreditPeriod" class="wbkhCreditPeriod quality" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" type="text" required disabled>
                    </div>
                    <div><span class="mark">*</span><label for="">信用额度(万元)</label>
                        <input name="wbkhLineCredit" class="wbkhLineCredit quality" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" type="text" required disabled>
                    </div>
                </div>
                <div class="fl fl3">
                    <div style="margin-bottom: 15px">
                        <span class="mark">*</span><h6>开票类型</h6>
                        <select class="wbkhInvoiceType wbkhInvoiceType1" name="wbkhInvoiceType">
                            <option value="增值税普票">增值税普票</option>
                            <option value="增值税专票">增值税专票</option>
                            <option value="DebitNote">DebitNote</option>
                        </select>
                    </div>
                    <div class="invoiceTypeTitle"><span>增值税普票</span></div>
                    <div class="bankInfo bankInfo1 clearfix">
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">开户银行</label><input name="wbkhDepositBank" class="wbkhDepositBank bank" type="text">
                            <span class="mark sbmMark">*</span><label for="">纳税人识别码</label><input name="headingCode" class="Taxpayers headingCode" type="text">
                        </div>
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">银行账号</label><input name="wbkhBankAccount" class="bankNo wbkhBankAccount" type="text">
                            <span class="mark">*</span><label for="">公司电话</label><input name="wbkhCompanyTel" class="tel wbkhCompanyTel" type="text">
                        </div>
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">公司地址</label><input name="wbkhCompanyAddress" class="comAddress wbkhCompanyAddress" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <!--外部客户 end-->

            <!--互为代理 start-->
            <div class="lump wbkhStyle clearfix" id="eachAgent">
                <h5>互为代理</h5>
                <div class="fl fl1">
                    <div class="topLayer">
                        <div><span class="mark">*</span><label class="income" >进项税票*</label>
                            <select style="height: 30px;width: 43%;" name="hwdlTaxReceipt" class="hwdlTaxReceipt">
                                <option value="增值税普票">增值税普票</option>
                                <option value="增值税专票">增值税专票</option>
                                <option value="Invoice">Invoice</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div style="margin-top: 10px">
                            <span class="mark">*</span><label class="income"  for="">进项税率%：</label>
                            <input class="hwdlTaxRate hwdlTaxRate2" name="hwdlTaxRate" style="width: 40%;" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                        </div>
                    </div>
                    <div class="bottomLayer">
                        <input class="wbkhIsPayForAnother" type="checkbox" disabled><h6>代垫</h6>
                        <div>
                            <div><span class="mark">*</span><label style="margin-bottom: 5px;" for="">代垫期限（天）</label><input class="daiDian wbkhPaymentTerm" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required disabled></div>
                            <div><span class="mark">*</span><label for="">代垫额度（万元）</label><input class="daiDian wbkhPaidAmount" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required disabled></div>
                        </div>
                    </div>
                </div>
                <div class="fl fl2">
                    <div><span class="mark">*</span><label for="">信用等级</label>
                        <select class="wbkhCreditRating wbkhCreditRating2">

                        </select>
                    </div>
                    <div><span class="mark">*</span><label for="">信用期限类型</label>
                        <select class="wbkhTypeCreditPeriod">
                            <option value="业务日期">业务日期</option>
                            <option value="账单日期">账单日期</option>
                            <option value="发票日期">发票日期</option>
                        </select>
                    </div>
                    <div><span class="mark">*</span><label for="">信用期限（天）</label>
                        <input name="wbkhCreditPeriod2" class="wbkhCreditPeriod" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" type="text" required disabled>
                    </div>
                    <div><span class="mark">*</span><label for="">信用额度(万元)</label>
                        <input name="wbkhLineCredit2" class="wbkhLineCredit" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required disabled>
                    </div>
                </div>
                <div class="fl fl3">
                    <div style="margin-bottom: 15px">
                        <span class="mark">*</span><h6>开票类型</h6>
                        <select class="wbkhInvoiceType wbkhInvoiceType2">
                            <option value="增值税普票">增值税普票</option>
                            <option value="增值税专票">增值税专票</option>
                            <option value="DebitNote">DebitNote</option>
                        </select>
                    </div>
                    <div class="invoiceTypeTitle"><span>增值税普票</span></div>
                    <div class="bankInfo bankInfo2 clearfix">
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">开户银行</label><input class="wbkhDepositBank bank"  type="text">
                            <span class="sbmMark mark">*</span><label for="">纳税人识别码</label><input name="headingCode2" class="Taxpayers headingCode" type="text" required>
                        </div>
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">银行账号</label><input  class="bankNo wbkhBankAccount" type="text">
                            <span class="mark">*</span><label for="">公司电话</label><input class="tel wbkhCompanyTel" type="text">
                        </div>
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">公司地址</label><input class="comAddress wbkhCompanyAddress" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <!--互为代理 end-->

            <!--海外代理 start-->
            <div class="lump wbkhStyle clearfix" id="overseasAgency">
                <h5>海外代理</h5>
                <div class="fl fl1">
                    <div class="bottomLayer">
                        <input class="wbkhIsPayForAnother"  type="checkbox" disabled><h6>代垫</h6>
                        <div>
                            <div><span class="mark">*</span><label style="margin-bottom: 5px;" for="">代垫期限（天）</label><input class="daiDian wbkhPaymentTerm" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required disabled></div>
                            <div><span class="mark">*</span><label for="">代垫额度（万元）</label><input class="daiDian wbkhPaidAmount" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" type="text" required disabled></div>
                        </div>
                    </div>
                </div>
                <div class="fl fl2">
                    <div><span class="mark">*</span><label for="">信用等级</label>
                        <select class="wbkhCreditRating wbkhCreditRating3">

                        </select>
                    </div>
                    <div><span class="mark">*</span><label for="">信用期限类型</label>
                        <select class="wbkhTypeCreditPeriod">
                            <option value="业务日期">业务日期</option>
                            <option value="账单日期">账单日期</option>
                            <option value="发票日期">发票日期</option>
                        </select>
                    </div>
                    <div><span class="mark">*</span><label for="">信用期限（天）</label>
                        <input class="wbkhCreditPeriod" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required disabled>
                    </div>
                    <div><span class="mark">*</span><label for="">信用额度(万元)</label>
                        <input class="wbkhLineCredit" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required disabled>
                    </div>
                </div>
            </div>
            <!--海外代理 end-->

            <!--干线承运人 start-->
            <div class="lump wbkhStyle clearfix" id="trunkCarrier">
                <h5>干线承运人</h5>
                <div style="padding:10px 20px 20px;border: 1px solid #dddddd;width:96%;">
                    <span class="mark">*</span><h6>服务类别</h6>
                    <input class="hiddenInput" id="gxcyrClassOfService" name="gxcyrClassOfService" type="text" required>
                    <div class="gxcyrClassOfServiceBox classOfServiceBox" style="margin: 10px;">
                        <input class="classOfSer1" type="checkbox" value="干线运输"><label style="width: auto;margin-right: 2%;" for="">干线运输</label>
                        <input class="classOfSer2" type="checkbox" value="支线运输"><label style="width: auto;margin-right: 2%;" for="">支线运输</label>
                        <input class="classOfSer3" type="checkbox" value="操作服务"><label style="width: auto;margin-right: 2%;" for="">操作服务</label>
                        <input class="classOfSer4" type="checkbox" value="包装服务"><label style="width: auto;margin-right: 2%;" for="">包装服务</label>
                        <input class="classOfSer5" type="checkbox" value="仓储服务"><label style="width: auto;margin-right: 2%;" for="">仓储服务</label>
                        <input class="classOfSer6" type="checkbox" value="邮资快递"><label style="width: auto;margin-right: 2%;" for="">邮资快递</label>
                        <input class="classOfSer7" type="checkbox" value="政府检验"><label style="width: auto;margin-right: 2%;" for="">政府检验</label>
                        <input class="classOfSer8" type="checkbox" value="数据交换"><label style="width: auto;margin-right: 2%;" for="">数据交换</label>
                    </div>
                    <div class="topLayer">
                        <div><span class="mark">*</span><label class="income" >进项税票*</label>
                            <select style="height: 30px;width:200px;" class="hwdlTaxReceipt">
                                <option value="增值税普票">增值税普票</option>
                                <option value="增值税专票">增值税专票</option>
                                <option value="Invoice">Invoice</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div style="margin-top: 5px">
                            <span class="mark">*</span><label class="income"  for="">进项税率%：</label>
                            <input class="hwdlTaxRate" style="width: 188px;" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!--干线承运人 end-->

            <!--不可控供应商 start-->
            <div class="lump wbkhStyle clearfix" id="uncontrollableSupplier">
                <h5>不可控供应商</h5>
                <div style="padding:10px 20px 20px;border: 1px solid #dddddd;width:96%;">
                    <span class="mark">*</span><h6>服务类别</h6>
                    <div class="gxcyrClassOfServiceBox" style="margin: 10px;">
                        <input class="classOfSer1" type="checkbox" value="干线运输"><label style="width: auto;margin-right: 2%;" for="">干线运输</label>
                        <input class="classOfSer2" type="checkbox" value="支线运输"><label style="width: auto;margin-right: 2%;" for="">支线运输</label>
                        <input class="classOfSer3" type="checkbox" value="操作服务"><label style="width: auto;margin-right: 2%;" for="">操作服务</label>
                        <input class="classOfSer4" type="checkbox" value="包装服务"><label style="width: auto;margin-right: 2%;" for="">包装服务</label>
                        <input class="classOfSer5" type="checkbox" value="仓储服务"><label style="width: auto;margin-right: 2%;" for="">仓储服务</label>
                        <input class="classOfSer6" type="checkbox" value="邮资快递"><label style="width: auto;margin-right: 2%;" for="">邮资快递</label>
                        <input class="classOfSer7" type="checkbox" value="政府检验"><label style="width: auto;margin-right: 2%;" for="">政府检验</label>
                        <input class="classOfSer8" type="checkbox" value="数据交换"><label style="width: auto;margin-right: 2%;" for="">数据交换</label>
                    </div>
                    <div class="topLayer">
                        <div><span class="mark">*</span><label class="income" >进项税票*</label>
                            <select style="height: 30px;width:200px;" class="hwdlTaxReceipt">
                                <option value="增值税普票">增值税普票</option>
                                <option value="增值税专票">增值税专票</option>
                                <option value="Invoice">Invoice</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div style="margin-top: 5px">
                            <span class="mark">*</span><label class="income"  for="">进项税率%：</label>
                            <input class="hwdlTaxRate" style="width: 188px;" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!--不可控供应商 end-->

            <!--延伸服务供应商 start-->
            <div class="lump wbkhStyle clearfix" id="extendServiceProviders">
                <h5>延伸服务供应商</h5>
                <div style="padding:10px 20px 20px;border: 1px solid #dddddd;width:96%;">
                    <span class="mark">*</span><h6>服务类别</h6>
                    <div class="gxcyrClassOfServiceBox" style="margin: 10px;">
                        <input class="classOfSer1" type="checkbox" value="干线运输"><label style="width: auto;margin-right: 2%;" for="">干线运输</label>
                        <input class="classOfSer2" type="checkbox" value="支线运输"><label style="width: auto;margin-right: 2%;" for="">支线运输</label>
                        <input class="classOfSer3" type="checkbox" value="操作服务"><label style="width: auto;margin-right: 2%;" for="">操作服务</label>
                        <input class="classOfSer4" type="checkbox" value="包装服务"><label style="width: auto;margin-right: 2%;" for="">包装服务</label>
                        <input class="classOfSer5" type="checkbox" value="仓储服务"><label style="width: auto;margin-right: 2%;" for="">仓储服务</label>
                        <input class="classOfSer6" type="checkbox" value="邮资快递"><label style="width: auto;margin-right: 2%;" for="">邮资快递</label>
                        <input class="classOfSer7" type="checkbox" value="政府检验"><label style="width: auto;margin-right: 2%;" for="">政府检验</label>
                        <input class="classOfSer8" type="checkbox" value="数据交换"><label style="width: auto;margin-right: 2%;" for="">数据交换</label>
                    </div>
                    <div class="topLayer">
                        <div><span class="mark">*</span><label class="income" >进项税票*</label>
                            <select style="height: 30px;width: 200px;" class="hwdlTaxReceipt">
                                <option value="增值税普票">增值税普票</option>
                                <option value="增值税专票">增值税专票</option>
                                <option value="Invoice">Invoice</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div style="margin-top: 5px">
                            <span class="mark">*</span><label class="income"  for="">进项税率%：</label>
                            <input class="hwdlTaxRate" style="width: 188px;" type="text" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" required>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!--延伸服务供应商 start-->

            <!--收发货人 start-->
            <div class="lump wbkhStyle clearfix" id="consigneeAndConsigner">
                <h5>收发货人</h5>
                <div class="consignee clearfix">
                    <div>
                        <input class="hiddenInput" type="text" name="sfhrIsConsignee" value="0">
                        <input id="sfhrIsConsignee" type="checkbox"><label for="">收货人</label>
                    </div>
                    <div class="consigneeInfo consigneeInput">
                        <div style="margin-bottom: 10px;" class="clearfix consigneeInfoBox">
                            <div class="fl"><span class="mark">*</span><label for="">国家</label><input id="sfhrConsigneeNation" name="sfhrConsigneeNation" type="text" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">所属州</label><input name="sfhrConsigneeContinent" type="text" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">城市</label><input name="sfhrConsigneeCity" type="text" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">邮编</label><input name="sfhrConsigneeZipCode" type="text" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">电话</label><input name="sfhrConsigneePhone" type="text" required disabled></div>
                        </div>
                        <div><span class="mark">*</span><label for="">地址</label><input style="width: 60%;" name="sfhrConsigneeAddress" type="text" required disabled></div>
                    </div>
                </div>
                <div style="margin: 10px 0;">
                    <input class="hiddenInput" name="sfhrIsConsigneesAddress" type="text" value="0">
                    <input id="sfhrIsConsigneesAddress"  type="checkbox"><label style="width:auto;" for="">与收货人地址相同</label></div>
                <div class="consignee clearfix">
                    <div class="">
                        <input class="hiddenInput" name="sfhrIsShipper" type="text" value="0">
                        <input  id="sfhrIsShipper" type="checkbox"><label for="">发货人</label>
                    </div>
                    <div class="consigneeInfo shipperInput">
                        <div style="margin-bottom: 10px;" class="clearfix consigneeInfoBox">
                            <div class="fl"><span class="mark">*</span><label for="">国家</label><input name="sfhrShipperNation" type="text" value="" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">所属州</label><input name="sfhrShipperContinent" type="text" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">城市</label><input name="sfhrShipperCity" type="text" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">邮编</label><input name="sfhrShipperZipCode" type="text" required disabled></div>
                            <div class="fl"><span class="mark">*</span><label for="">电话</label><input name="sfhrShipperPhone" type="text" required disabled></div>
                        </div>
                        <div><span class="mark">*</span><label for="">地址</label><input style="width: 60%;" name="sfhrShipperAddress" type="text" required disabled></div>
                    </div>
                </div>
            </div>
            <!--收发货人 end-->

            <!--结算对象 start-->
            <div id="settlementObject" class="wbkhStyle clearfix">
                <h5>结算对象</h5>
                <div class="fl fl3">
                    <div style="margin-bottom: 15px">
                        <span class="mark">*</span><h6>开票类型</h6>
                        <select class="wbkhInvoiceType wbkhInvoiceType3">
                            <option value="增值税普票">增值税普票</option>
                            <option value="增值税专票">增值税专票</option>
                            <option value="DebitNote">DebitNote</option>
                        </select>
                        <!--<input type="radio" class="invoiceType1" name="wbkhInvoiceType" value="增值税普票"><label for="">增值税普票</label>-->
                        <!--<input type="radio" class="invoiceType2" name="wbkhInvoiceType" value="增值税专票"><label for="">增值税专票</label>-->
                        <!--<input type="radio" class="invoiceType3" name="wbkhInvoiceType" value="DebitNote"><label for="">DebitNote</label>-->
                    </div>
                    <div class="invoiceTypeTitle"><span>增值税普票</span></div>
                    <div class="bankInfo bankInfo3 clearfix">
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">开户银行</label><input class="wbkhDepositBank bank"  type="text">
                            <span class="sbmMark mark">*</span><label for="">纳税人识别码</label><input class="Taxpayers headingCode" type="text" required>
                        </div>
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">银行账号</label><input class="bankNo wbkhBankAccount" type="text">
                            <span class="mark">*</span><label for="">公司电话</label><input class="tel wbkhCompanyTel" type="text">
                        </div>
                        <div class="fl3Div">
                            <span class="mark">*</span><label for="">公司地址</label><input class="comAddress wbkhCompanyAddress" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <!--结算对象 end-->
            <div class="buttonBox">
                <button class="fl" id="savePartner" type="submit">保存</button>
                <button id="callOff" class="fr" type="button">取消</button>
            </div>
        </form>
    </div>
</div>
<script id="addAddressTemplate" type="text/x-dot-template">

</script>
