<div id="partnerManage" class="right_content">
    <div class="nav">
        <h2>合作伙伴管理</h2>
    </div>
    <div class="content clearfix">
        <div class="searchBar">
            <div class="sortBox clearfix">
                <h6 class="fl">选择分类：</h6>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="外部客户"><label for="">外部客户</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="互为代理"><label for="">互为代理</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="海外代理"><label for="">海外代理</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="干线承运人"><label for="">干线承运人</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="不可控供应商"><label for="">不可控供应商</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="延伸服务供应商"><label for="">延伸服务供应商</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="收发货人"><label for="">收发货人</label></div>
                <div class="fl"><input type="checkbox" name="sort" data-orderNo="结算对象"><label for="">结算对象</label></div>
            </div>
            <div>
                <input id="mainPoint" type="text"><label id="query" class="searchBtn" for="">查询</label>
                <a id="toggle" class="clickLink" href="javascript:void(0);">显示/隐藏查询结果</a>
                <a id="queryStop" class="clickLink" href="javascript:void(0);">查看停用Partner</a>
                <a id="queryBlack" class="clickLink" href="javascript:void(0);">查看黑名单Partner</a>
            </div>
        </div>
        <div class="handleBar clearfix">
            <div class="handle-left fl">
                <a id="collapseAllBtn" href="javascript:void(0);">全部收起</a>
                <a id="scrollTop" href="javascript:void(0);">到顶部</a>
                <a id="scrollBottom" href="javascript:void(0);">到底部</a>
            </div>
            <div style="margin-right: 80px;" class="handle-right fr">
                <a class="new" href="javascript:void(0);">新增合作伙伴</a>
                <a class="alter" href="javascript:void(0);">修改</a>
                <a id="transferBtn" href="javascript:void(0);">转移</a>
                <a id="delete" href="javascript:void(0);">删除</a>
            </div>
        </div>
        <div class="treeHome">
            <div class="thead-outer clearfix">
                <div class="thead-core">
                    <div class="fl Th" style="line-height: 50px;margin-left: 20px;width: 140px;">合作伙伴目录名称</div>
                    <div  style='margin-right: 10px;' class="fr Th version"><span>结算对象</span></div>
                    <div class="fr Th version"><span>收发货人</span></div>
                    <div class="fr Th version"><span>延伸服务</span></div>
                    <div class="fr Th version"><span>不可控</span></div>
                    <div class="fr Th version"><span>干线承运</span></div>
                    <div class="fr Th version"><span>海外代理</span></div>
                    <div class="fr Th upMan"><span>互为代理</span></div>
                    <div class="fr Th startTime"><span>外部客户</span></div>
                    <div class="fr Th endTime"><span>黑名单</span></div>
                    <div class="fr Th endTime"><span>停用</span></div>
                </div>
            </div>
        </div>
       <div style="position: relative;" class="clearfix">
           <div id="tree_box">
               <ul  class="ztree"  id="tree"></ul>
           </div>
           <div id="screen">
               <h3>检索结果</h3>
               <div>
                   <div id="selected">

                   </div>
               </div>
           </div>
       </div>
        <div id="transfer" class="clearfix">
            <h3>转移</h3>
            <div class="content">
                <div>
                    <p style="color: #333;">已选</p>
                    <div class="transfer-box">
                    </div>
                </div>
                <button id="transfer_btn" type="button">转移至</button>
                <label for="goal">转移至</label><input id="goal" type="text">
                <div class="bar">
                    <button id="tr-confirm" type="button">确认</button>
                    <button id="tr-delete" class="blue" type="button">删除选中</button>
                    <button id="tr-cancel" class="blue" type="button">取消</button>
                </div>
                <input id="deleteSelId" type="text" style="display: none;">
                <input id="toId" type="text"  style="display: none;">
            </div>
        </div>
    </div>
    <div id="infoWall">
        <div id="partnerNew" class="right_content">
            <div class="nav">
                <h2>合作伙伴管理 >> 查看</h2>
            </div>
            <div style="margin-top: 20px;" class="content clearfix">
                <form style="padding: 0 1%;" id="checkForm" class="clearfix">
                    <input id="pId" name="pId" class="hiddenInput" type="text">
                    <h4>基础信息</h4>
                    <div class="baseInfo">
                        <div class="clearfix">
                            <div class="fl flDiv">

                                <label for="">代码</label>
                                <input style="width: 80%;" name="code" class="code" type="text" readonly>
                            </div>
                            <div class="fr frDiv">

                                <label for="">助记码</label>
                                <input id="mnemonicCode" name="mnemonicCode" class="" type="text" readonly>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="fl flDiv">

                                <label for="">中文全称</label>
                                <input id="chineseName" name="chineseName" type="text" readonly>
                            </div>
                            <div class="fr frDiv">

                                <label for="">中文简称</label>
                                <input id="chineseAbbreviation" name="chineseAbbreviation" class="" type="text" readonly>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="fl flDiv">

                                <label for="">英文全称</label>
                                <input id="englishName" name="englishName" type="text" readonly>
                            </div>
                            <div class="fr frDiv">

                                <label for="">英文简称</label>
                                <input id="englishAbbreviation" name="englishAbbreviation" class="" type="text" readonly>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="fl flDiv">
                                <label for="">财务代码</label>
                                <input id="financingCode" name="financingCode" type="text" readonly>
                            </div>
                            <div style="position: relative;height: 30px;" class="fr frDiv">

                                <label style="width: 70px;margin-right:0;" for="">提醒接受者</label>
                                <input id="dutyInput" type="text" value="" readonly><span class="warning dutyOfficer-waring"></span>
                                <ul class="userNameLi">

                                </ul>
                                <input style="position: relative;top:-10px;" class="hiddenInput" id="receiverId" name="receiverId" type="text">
                                <input style="position: relative;top:-30px;" class="hiddenInput" id="receiverName" name="receiverName" type="text">
                            </div>
                        </div>
                        <div class="status clearfix">
                            <input id="isBlacklist" type="checkbox" disabled><label for="">黑名单</label>
                            <!--隐藏黑名单-->
                            <input class="hiddenInput" name="isBlacklist" type="text" value="0">
                            <input id="isDisable" type="checkbox" disabled><label for="">停用</label>
                            <input class="hiddenInput" name="isDisable" type="text" value="0">
                            <span class="mark disableMark">*</span><label for="">停用备注</label><input id="disableRemark" name="disableRemark" class="reason" type="text" readonly>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="">联系地址</label>
                            <!--<button id="addAddress" class="newBtn" type="button">+ 新增地址</button>-->
                        </div>
                        <!--<div class="redColor clearfix"><span class="fr">展开</span></div>-->
                        <div style="padding-left: 16px;">
                            <div class="thead-outer">
                                <div class="thead-core">
                                    <div style="width:6%;" class="no"><span>序号</span></div>
                                    <div class="addressType"><span>地址类型</span></div>
                                    <div style="width:16%;" class="short"><span>简称</span></div>
                                    <div style="width:40%;" class="address"><span>地址</span></div>
                                    <div class="postcode"><span>邮编</span></div>
                                </div>
                            </div>
                            <div class="addressList listBoxStyle">
                                <!--  <div class="list clearfix">
                                      <div class="no"><span>1</span></div>
                                      <div class="addressType"><span>注册地址</span></div>
                                      <div class="short"><span>北京市山里屯</span></div>
                                      <div class="address"><span>北京市朝阳区上力图阿萨德后发回复</span></div>
                                      <div class="postcode"><span>100000</span></div>
                                      <div class="operation"><a class="editAdd" href="javascript:void(0);">修改地址</a> <a class="delAdd redColor" href="javascript:void(0);">删除地址</a></div>
                                  </div>-->
                            </div>
                            <input class="hiddenInput" id="address" type="text" name="address" value="">
                        </div>
                        <!--<div class="redColor clearfix"><span class="fr">收起</span></div>-->
                    </div>
                    <div>
                        <div>
                            <label style="width: 70px;" for="">联系人资料</label>
                           <!-- <button id="addContact" class="newBtn" type="button">+ 新增联系人</button>-->
                        </div>
                       <!-- <div class="redColor clearfix"><span class="fr">展开</span></div>-->
                        <div style="padding-left: 16px;">
                            <div class="thead-outer">
                                <div class="thead-core">
                                    <div class="no"><span>序号</span></div>
                                    <div class="name"><span>姓名</span></div>
                                    <div style="width:8%;" class="obligation"><span>职责</span></div>
                                    <div class="demp"><span>部门</span></div>
                                    <div style="width: 8%;" class="duty"><span>职务</span></div>
                                    <div class="tel"><span>固话</span></div>
                                    <div class="phone"><span>手机</span></div>
                                    <div style="width:16%;" class="email"><span>邮件</span></div>
                                    <div style="width:28%;" class="address2"><span>地址</span></div>
                                </div>
                            </div>
                            <div class="contactList listBoxStyle">

                            </div>
                            <input class="hiddenInput" id="linkmans" type="text" name="linkmans" value="">
                        </div>
                        <!--<div class="redColor clearfix"><span class="fr">收起</span></div>-->
                    </div>
                    <div class=" businessScope">
                        <div>
                            <label for="">业务范畴</label>
                            <div class="businessCheckbox">
                                <input type="checkbox" value="AI" disabled><label for="">AI</label>
                                <input type="checkbox" value="AE" disabled><label for="">AE</label>
                                <input type="checkbox" value="SI" disabled><label for="">SI</label>
                                <input type="checkbox" value="SE" disabled><label for="">SE</label>
                                <input type="checkbox" value="TI" disabled><label for="">TI</label>
                                <input type="checkbox" value="TE" disabled><label for="">TE</label>
                                <input type="checkbox" value="OI" disabled><label for="">OI</label>
                                <input type="checkbox" value="OE" disabled><label for="">OE</label>
                                <input type="checkbox" value="IT" disabled><label for="">IT</label>
                                <input type="checkbox" value="DDN" disabled><label for="">DDN</label>
                                <input type="checkbox" value="YYOX" disabled><label for="">YYOX</label>
                                <input type="checkbox" value="Industrial" disabled><label for="">Industrial</label>
                            </div>
                            <input id="scopeBusiness" style="width:0;height: 0;opacity: 0;" name="scopeBusiness" type="text">
                        </div>
                    </div>
                    <div class="classificationOfPartners">
                        <div>
                            <label for="">合作伙伴分类</label>
                            <div style="padding-left: 3%;" class="partnersCheckbox">
                                <input type="checkbox" value="外部客户" disabled><label for="">外部客户</label>
                                <input type="checkbox" value="互为代理" disabled><label for="">互为代理</label>
                                <input type="checkbox" value="海外代理" disabled><label for="">海外代理</label>
                                <input type="checkbox" value="干线承运人" disabled><label for="">干线承运人</label>
                                <input type="checkbox" value="不可控供应商" disabled><label for="">不可控供应商</label>
                                <input type="checkbox" value="延伸服务供应商" disabled><label for="">延伸服务供应商</label>
                                <input type="checkbox" value="收发货人" disabled><label for="">收发货人</label>
                                <input type="checkbox" value="结算对象" disabled><label for="">结算对象</label>
                            </div>
                            <!--隐藏的合作伙伴分类-->
                            <input id="partnerCategory" class="hiddenInput" type="text" name="partnerCategory" required>
                        </div>
                    </div>
                    <h4>分类详细信息</h4>
                    <div class="wbkhStyle clearfix">
                        <h5>外部客户</h5>
                        <div class="fl fl1">
                            <div class="topLayer">
                                <div><h6>客户分类</h6></div>
                                <div id="customerClass">
                                    <input class="customerClass" type="checkbox" value="直客" disabled><label for="">直客</label>
                                    <input class="customerClass" type="checkbox" value="关键客户" disabled><label for="">关键客户</label>
                                    <input class="customerClass" type="checkbox" value="代理" disabled><label for="">代理</label>
                                    <input class="customerClass" type="checkbox" value="海外客户" disabled><label for="">海外客户</label>
                                </div>
                                <input class="hiddenInput" id="wbkhCustomerClass" type="text" name="wbkhCustomerClass">
                            </div>
                            <div class="bottomLayer">
                                <input class="wbkhIsPayForAnother" type="checkbox" disabled><h6>代垫</h6>
                                <input class="hiddenInput" name="wbkhIsPayForAnother"  type="text" value="0" readonly>
                                <div>
                                    <label style="margin-bottom: 5px;" for="">代垫期限（天）</label><input class="daiDian wbkhPaymentTerm" type="text" readonly>
                                    <label for="">代垫额度（万元）</label><input class="daiDian wbkhPaidAmount" type="text" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="fl fl2">
                            <div><label for="">信用等级</label>
                                <input class="wbkhCreditRating" type="text" readonly>
                            </div>
                            <div><label for="">信用期限类型</label>
                                <select name="wbkhTypeCreditPeriod" class="wbkhTypeCreditPeriod" disabled>
                                    <option value="业务日期">业务日期</option>
                                    <option value="账单日期">账单日期</option>
                                    <option value="发票日期">发票日期</option>
                                </select>
                            </div>
                            <div><label for="">信用期限（天）</label>
                                <input name="wbkhCreditPeriod" class="wbkhCreditPeriod" type="text" readonly>
                            </div>
                            <div><label for="">信用额度(万元)</label>
                                <input name="wbkhLineCredit" class="wbkhLineCredit" type="text" readonly>
                            </div>
                        </div>
                        <div class="fl fl3">
                            <div style="margin-bottom: 15px">
                                <h6>开票类型</h6>
                                <select class="wbkhInvoiceType" name="wbkhInvoiceType" disabled>
                                    <option value="增值税普票">增值税普票</option>
                                    <option value="增值税专票">增值税专票</option>
                                    <option value="DebitNote">DebitNote</option>
                                </select>
                            </div>
                            <div class="invoiceTypeTitle"><span>增值税普票</span></div>
                            <div class="bankInfo clearfix">
                                <div class="fl3Div">
                                    <label for="">开户银行</label><input name="wbkhDepositBank" class="wbkhDepositBank bank" type="text" readonly>
                                    <span class="mark sbmMark">*</span><label for="">纳税人识别码</label><input name="headingCode" class="Taxpayers headingCode" type="text" readonly>
                                </div>
                                <div class="fl3Div">
                                    <label for="">银行账号</label><input name="wbkhBankAccount" class="bankNo wbkhBankAccount" type="text" readonly>
                                    <label for="">公司电话</label><input name="wbkhCompanyTel" class="tel wbkhCompanyTel" type="text" readonly>
                                </div>
                                <div class="fl3Div">
                                    <label for="">公司地址</label><input name="wbkhCompanyAddress" class="comAddress wbkhCompanyAddress" type="text" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wbkhStyle clearfix">
                        <h5>互为代理</h5>
                        <div class="fl fl1">
                            <div class="topLayer">
                                <div><label class="income" >进项税票*</label>
                                    <select style="height: 30px;width: 43%;" name="hwdlTaxReceipt" class="hwdlTaxReceipt" disabled>
                                        <option value="增值税普票">增值税普票</option>
                                        <option value="增值税专票">增值税专票</option>
                                        <option value="Invoice">Invoice</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                                <div style="margin-top: 10px">
                                    <label class="income"  for="">进项税率%：</label>
                                    <input class="hwdlTaxRate" name="hwdlTaxRate" style="width: 40%;" type="text" readonly>
                                </div>
                            </div>
                            <div class="bottomLayer">
                                <input class="wbkhIsPayForAnother" type="checkbox" disabled><h6>代垫</h6>
                                <div>
                                    <label style="margin-bottom: 5px;" for="">代垫期限（天）</label><input class="daiDian wbkhPaymentTerm" type="text" readonly>
                                    <label for="">代垫额度（万元）</label><input class="daiDian wbkhPaidAmount" type="text" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="fl fl2">
                            <div><label for="">信用等级</label>
                                <!--<select class="wbkhCreditRating" disabled>
                                    <option value="A-协议保函">A-协议保函</option>
                                    <option value="B-协议保函">B-协议保函</option>
                                    <option value="C-付款买单">C-付款买单</option>
                                </select>-->
                                <input class="wbkhCreditRating" type="text" readonly>
                            </div>
                            <div><label for="">信用期限类型</label>
                                <select class="wbkhTypeCreditPeriod" disabled>
                                    <option value="业务日期">业务日期</option>
                                    <option value="账单日期">账单日期</option>
                                    <option value="发票日期">发票日期</option>
                                </select>
                            </div>
                            <div><label for="">信用期限（天）</label>
                                <input class="wbkhCreditPeriod" type="text" readonly>
                            </div>
                            <div><label for="">信用额度(万元)</label>
                                <input class="wbkhLineCredit" type="text" readonly>
                            </div>
                        </div>
                        <div class="fl fl3">
                            <div style="margin-bottom: 15px">
                                <h6>开票类型</h6>
                                <select class="wbkhInvoiceType" disabled>
                                    <option value="增值税普票">增值税普票</option>
                                    <option value="增值税专票">增值税专票</option>
                                    <option value="DebitNote">DebitNote</option>
                                </select>
                            </div>
                            <div class="invoiceTypeTitle"><span>增值税普票</span></div>
                            <div class="bankInfo clearfix">
                                <div class="fl3Div">
                                    <label for="">开户银行</label><input class="wbkhDepositBank bank"  type="text" readonly>
                                    <span class="sbmMark mark">*</span><label for="">纳税人识别码</label><input class="Taxpayers headingCode" type="text" readonly>
                                </div>
                                <div class="fl3Div">
                                    <label for="">银行账号</label><input  class="bankNo wbkhBankAccount" type="text" readonly>
                                    <label for="">公司电话</label><input class="tel wbkhCompanyTel" type="text" readonly>
                                </div>
                                <div class="fl3Div">
                                    <label for="">公司地址</label><input class="comAddress wbkhCompanyAddress" type="text" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wbkhStyle clearfix">
                        <h5>海外代理</h5>
                        <div class="fl fl1">
                            <div class="bottomLayer">
                                <input class="wbkhIsPayForAnother"  type="checkbox" disabled><h6>代垫</h6>
                                <div>
                                    <label style="margin-bottom: 5px;" for="">代垫期限（天）</label><input class="daiDian wbkhPaymentTerm" type="text" readonly>
                                    <label for="">代垫额度（万元）</label><input class="daiDian wbkhPaidAmount" type="text" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="fl fl2">
                            <div><label for="">信用等级</label>
                                <!--<select class="wbkhCreditRating" disabled>
                                    <option value="A-协议保函">A-协议保函</option>
                                    <option value="B-协议保函">B-协议保函</option>
                                    <option value="C-付款买单">C-付款买单</option>
                                </select>-->
                                <input class="wbkhCreditRating" type="text" readonly>
                            </div>
                            <div><label for="">信用期限类型</label>
                                <select class="wbkhTypeCreditPeriod" disabled>
                                    <option value="业务日期">业务日期</option>
                                    <option value="账单日期">账单日期</option>
                                    <option value="发票日期">发票日期</option>
                                </select>
                            </div>
                            <div><label for="">信用期限（天）</label>
                                <input class="wbkhCreditPeriod" type="text" readonly>
                            </div>
                            <div><label for="">信用额度(万元)</label>
                                <input class="wbkhLineCredit" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="wbkhStyle clearfix">
                        <h5>干线承运人</h5>
                        <div style="padding:10px 20px 20px;border: 1px solid #dddddd;width:96%;">
                            <h6>服务类别</h6>
                            <input class="hiddenInput" id="gxcyrClassOfService" name="gxcyrClassOfService" type="text">
                            <div class="gxcyrClassOfServiceBox classOfServiceBox" style="margin: 10px;">
                                <input class="classOfSer1" type="checkbox" value="干线运输" disabled><label style="width: auto;margin-right: 2%;" for="">干线运输</label>
                                <input class="classOfSer2" type="checkbox" value="支线运输" disabled><label style="width: auto;margin-right: 2%;" for="">支线运输</label>
                                <input class="classOfSer3" type="checkbox" value="操作服务" disabled><label style="width: auto;margin-right: 2%;" for="">操作服务</label>
                                <input class="classOfSer4" type="checkbox" value="包装服务" disabled><label style="width: auto;margin-right: 2%;" for="">包装服务</label>
                                <input class="classOfSer5" type="checkbox" value="仓储服务" disabled><label style="width: auto;margin-right: 2%;" for="">仓储服务</label>
                                <input class="classOfSer6" type="checkbox" value="邮资快递" disabled><label style="width: auto;margin-right: 2%;" for="">邮资快递</label>
                                <input class="classOfSer7" type="checkbox" value="政府检验" disabled><label style="width: auto;margin-right: 2%;" for="">政府检验</label>
                                <input class="classOfSer8" type="checkbox" value="数据交换" disabled><label style="width: auto;margin-right: 2%;" for="">数据交换</label>
                            </div>
                            <div class="topLayer">
                                <div><label class="income" >进项税票*</label>
                                    <select style="height: 30px;width:200px;" class="hwdlTaxReceipt" disabled>
                                        <option value="增值税普票">增值税普票</option>
                                        <option value="增值税专票">增值税专票</option>
                                        <option value="Invoice">Invoice</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                                <div style="margin-top: 5px">
                                    <label class="income"  for="">进项税率%：</label>
                                    <input class="hwdlTaxRate" style="width: 188px;" type="text" readonly>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div class="wbkhStyle clearfix">
                        <h5>不可控供应商</h5>
                        <div style="padding:10px 20px 20px;border: 1px solid #dddddd;width:96%;">
                            <h6>服务类别</h6>
                            <div class="gxcyrClassOfServiceBox" style="margin: 10px;">
                                <input class="classOfSer1" type="checkbox" value="干线运输" disabled><label style="width: auto;margin-right: 2%;" for="">干线运输</label>
                                <input class="classOfSer2" type="checkbox" value="支线运输" disabled><label style="width: auto;margin-right: 2%;" for="">支线运输</label>
                                <input class="classOfSer3" type="checkbox" value="操作服务" disabled><label style="width: auto;margin-right: 2%;" for="">操作服务</label>
                                <input class="classOfSer4" type="checkbox" value="包装服务" disabled><label style="width: auto;margin-right: 2%;" for="">包装服务</label>
                                <input class="classOfSer5" type="checkbox" value="仓储服务" disabled><label style="width: auto;margin-right: 2%;" for="">仓储服务</label>
                                <input class="classOfSer6" type="checkbox" value="邮资快递" disabled><label style="width: auto;margin-right: 2%;" for="">邮资快递</label>
                                <input class="classOfSer7" type="checkbox" value="政府检验" disabled><label style="width: auto;margin-right: 2%;" for="">政府检验</label>
                                <input class="classOfSer8" type="checkbox" value="数据交换" disabled><label style="width: auto;margin-right: 2%;" for="">数据交换</label>
                            </div>
                            <div class="topLayer">
                                <div><label class="income" >进项税票*</label>
                                    <select style="height: 30px;width:200px;" class="hwdlTaxReceipt" disabled>
                                        <option value="增值税普票">增值税普票</option>
                                        <option value="增值税专票">增值税专票</option>
                                        <option value="Invoice">Invoice</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                                <div style="margin-top: 5px">
                                    <label class="income"  for="">进项税率%：</label>
                                    <input class="hwdlTaxRate" style="width: 188px;" type="text" readonly>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div class="wbkhStyle clearfix">
                        <h5>延伸服务供应商</h5>
                        <div style="padding:10px 20px 20px;border: 1px solid #dddddd;width:96%;">
                            <h6>服务类别</h6>
                            <div class="gxcyrClassOfServiceBox" style="margin: 10px;">
                                <input class="classOfSer1" type="checkbox" value="干线运输" disabled><label style="width: auto;margin-right: 2%;" for="">干线运输</label>
                                <input class="classOfSer2" type="checkbox" value="支线运输" disabled><label style="width: auto;margin-right: 2%;" for="">支线运输</label>
                                <input class="classOfSer3" type="checkbox" value="操作服务" disabled><label style="width: auto;margin-right: 2%;" for="">操作服务</label>
                                <input class="classOfSer4" type="checkbox" value="包装服务" disabled><label style="width: auto;margin-right: 2%;" for="">包装服务</label>
                                <input class="classOfSer5" type="checkbox" value="仓储服务" disabled><label style="width: auto;margin-right: 2%;" for="">仓储服务</label>
                                <input class="classOfSer6" type="checkbox" value="邮资快递" disabled><label style="width: auto;margin-right: 2%;" for="">邮资快递</label>
                                <input class="classOfSer7" type="checkbox" value="政府检验" disabled><label style="width: auto;margin-right: 2%;" for="">政府检验</label>
                                <input class="classOfSer8" type="checkbox" value="数据交换" disabled><label style="width: auto;margin-right: 2%;" for="">数据交换</label>
                            </div>
                            <div class="topLayer">
                                <div><label class="income" >进项税票*</label>
                                    <select style="height: 30px;width: 200px;" class="hwdlTaxReceipt" disabled>
                                        <option value="增值税普票">增值税普票</option>
                                        <option value="增值税专票">增值税专票</option>
                                        <option value="Invoice">Invoice</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                                <div style="margin-top: 5px">
                                    <label class="income"  for="">进项税率%：</label>
                                    <input class="hwdlTaxRate" style="width: 188px;" type="text" readonly>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div class="wbkhStyle clearfix">
                        <h5>收发货人</h5>
                        <div class="consignee clearfix">
                            <div>
                                <input class="hiddenInput" type="text" name="sfhrIsConsignee" value="0">
                                <input id="sfhrIsConsignee" type="checkbox" disabled><label for="">收货人</label>
                            </div>
                            <div class="consigneeInfo consigneeInput">
                                <div style="margin-bottom: 10px;" class="clearfix consigneeInfoBox">
                                    <div class="fl"><label for="">国家</label><input id="sfhrConsigneeNation" name="sfhrConsigneeNation" type="text" readonly></div>
                                    <div class="fl"><label for="">所属州</label><input name="sfhrConsigneeContinent" type="text" readonly></div>
                                    <div class="fl"><label for="">城市</label><input name="sfhrConsigneeCity" type="text" readonly></div>
                                    <div class="fl"><label for="">邮编</label><input name="sfhrConsigneeZipCode" type="text" readonly></div>
                                    <div class="fl"><label for="">电话</label><input name="sfhrConsigneePhone" type="text" readonly></div>
                                </div>
                                <div><label for="">地址</label><input style="width: 60%;" name="sfhrConsigneeAddress" type="text" readonly></div>
                            </div>
                        </div>
                        <div style="margin: 10px 0;">
                            <input class="hiddenInput" name="sfhrIsConsigneesAddress" type="text" value="0">
                            <input id="sfhrIsConsigneesAddress"  type="checkbox" disabled><label style="width:auto;" for="">与收货人地址相同</label></div>
                        <div class="consignee clearfix">
                            <div class="">
                                <input class="hiddenInput" name="sfhrIsShipper" type="text" value="0">
                                <input  id="sfhrIsShipper" type="checkbox" disabled><label for="">发货人</label>
                            </div>
                            <div class="consigneeInfo shipperInput">
                                <div  style="margin-bottom: 10px;" class="clearfix consigneeInfoBox">
                                    <div class="fl"><label for="">国家</label><input name="sfhrShipperNation" type="text" value="" readonly></div>
                                    <div class="fl"><label for="">所属州</label><input name="sfhrShipperContinent" type="text" readonly></div>
                                    <div class="fl"><label for="">城市</label><input name="sfhrShipperCity" type="text" readonly></div>
                                    <div class="fl"><label for="">邮编</label><input name="sfhrShipperZipCode" type="text" readonly></div>
                                    <div class="fl"><label for="">电话</label><input name="sfhrShipperPhone" type="text" readonly></div>
                                </div>
                                <div><label for="">地址</label><input style="width: 60%;" name="sfhrShipperAddress" type="text" value="" readonly></div>
                            </div>
                        </div>
                    </div>
                    <div class="wbkhStyle clearfix">
                        <h5>结算对象</h5>
                        <div class="fl fl3">
                            <div style="margin-bottom: 15px">
                                <h6>开票类型</h6>
                                <select class="wbkhInvoiceType" disabled>
                                    <option value="增值税普票">增值税普票</option>
                                    <option value="增值税专票">增值税专票</option>
                                    <option value="DebitNote">DebitNote</option>
                                </select>
                            </div>
                            <div class="invoiceTypeTitle"><span>增值税普票</span></div>
                            <div class="bankInfo clearfix">
                                <div class="fl3Div">
                                    <label for="">开户银行</label><input class="wbkhDepositBank bank"  type="text" readonly>
                                    <span class="sbmMark mark">*</span><label for="">纳税人识别码</label><input class="Taxpayers headingCode" type="text" readonly>
                                </div>
                                <div class="fl3Div">
                                    <label for="">银行账号</label><input class="bankNo wbkhBankAccount" type="text" readonly>
                                    <label for="">公司电话</label><input class="tel wbkhCompanyTel" type="text" readonly>
                                </div>
                                <div class="fl3Div">
                                    <label for="">公司地址</label><input class="comAddress wbkhCompanyAddress" type="text" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 120px;margin-left: -60px;" class="buttonBox">
                       <!-- <button class="fl" id="savePartner" type="submit">保存</button>-->
                        <button id="close" class="fl" type="button">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script id="selectTemplate" type="text/x-dot-template">
    {{~it.data:value:index}}
    <span onclick="openShow({{= value.id}})">{{= value.chineseName}}</span>
    {{~}}
</script>

