<div id="partnerClassify" class="right_content">
    <div class="nav">
        <h2>合作伙伴分类</h2>
    </div>
    <div class="content clearfix">
        <div class="thead-outer clearfix">
            <div class="thead-core clearfix">
                <div class="thead-content clearfix">
                    <div class="no">序号</div>
                    <div class="partner">合作伙伴分类</div>
                    <div class="description">描述</div>
                </div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">1</div>
                <div class="partner">内部客户</div>
                <div class="description">内部结构中的末级利润中心，同时也是结算对象</div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">2</div>
                <div class="partner">外部客户</div>
                <div class="description"></div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">3</div>
                <div class="partner">互为代理</div>
                <div class="description"></div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">4</div>
                <div class="partner">海外代理</div>
                <div class="description"></div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">5</div>
                <div class="partner">干线承运人</div>
                <div class="description">提供干线运输的服务，包括航司、GSA、航司、铁路</div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">6</div>
                <div class="partner">不可控供应商</div>
                <div class="description">公司不可自主选择的供应商，如海关、检疫、地服、鉴定等</div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">7</div>
                <div class="partner">延伸服务供应商</div>
                <div class="description">可自主选择的，非干线运输的供应商</div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">8</div>
                <div class="partner">收发货人</div>
                <div class="description"></div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">9</div>
                <div class="partner">结算对象</div>
                <div class="description"></div>
            </div>
        </div>
    </div>
</div>
