<div id="power" class="right_content">
    <div class="nav">
        <h2>权限管理</h2>
    </div>
    <div class="content clearfix">
        <div class="content-fl fl">
            <div class="selectBar clearfix">
                <div class="fl">
                    <div class="s-box1">
                        <label for="">公司查询</label>
                        <select name="" id="company">
                            <option value="">请选择公司</option>
                        </select>
                    </div>
                    <div class="s-box2">
                        <label for="">部门查询</label>
                        <select name="" id="demp">
                            <option value="">请选择部门</option>
                        </select>
                    </div>
                </div>
                <div class="fr">
                    <button id="seek" type="button">搜索</button>
                </div>
            </div>
            <div class="listBox">
                <div class="fl">
                    <p>岗位</p>
                    <div class="list postList">
                    </div>
                </div>
                <div class="fr">
                    <p>用户</p>
                    <div class="list staffList">

                    </div>
                </div>
            </div>
        </div>
        <div class="content-fr fl">
            <h4>从指定岗位复制权限</h4>
            <div class="powerCopy clearfix">
                <div>
                    <label for="">公司查询</label>
                    <select name="" id="companyTo">
                        <option value="">请选择公司</option>
                    </select>
                </div>
                <div>
                    <label for="">部门</label>
                    <select name="" id="dempTo">
                        <option value="">请选择部门</option>
                    </select>
                </div>
                <div>
                    <label for="">岗位</label>
                    <select name="" id="postTo">
                        <option value="">请选择岗位</option>
                    </select>
                </div>
            </div>
            <div class="powerSel clearfix">
                <h4>手工指定权限</h4>
                <div class="powerSelBox">
                    <div class="fl">
                        <p>菜单</p>
                        <div id="menuList" class="list list-r nemuList">

                        </div>
                    </div>
                    <div class="fr">
                        <p>按钮</p>
                        <div class="list list-r btnList">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btnBox">
        <button id="confirm" type="button">确定</button>
        <button id="cancel" type="button">取消</button>
    </div>
</div>

<script id="postTemplate" type="text/x-dot-template">
    {{~it:value:index}}
        <p><input class="postIn" post-id="{{= value.id}}" name="post" type="radio"><label for="">{{= value.name}}</label></p>
    {{~}}
</script>
<script id="staffTemplate" type="text/x-dot-template">
    {{~it:value:index}}
    <p>{{= value.username}}</p>
    {{~}}
</script>
