<div id="power" class="right_content">
    <div class="nav">
        <h2>权限管理</h2>
    </div>
    <div class="content clearfix">
        <div class="content-fl fl">
            <div class="selectBar clearfix">
                <div class="fl">
                    <div class="s-box1">
                        <label for="">公司查询</label>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="s-box2">
                        <label for="">部门查询</label>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
                <div class="fr">
                    <button type="button">搜索</button>
                </div>
            </div>
            <div class="listBox">
                <div class="fl">
                    <p>岗位</p>
                    <div class="postList">
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                        <p><input name="post" type="radio"><label for="">结算专员</label></p>
                    </div>
                </div>
                <div class="fr">
                    <p>用户</p>
                    <div class="staffList">
                        <p>张三</p>
                        <p>李四</p>
                        <p>王五</p>
                        <p>冯七</p>
                        <p>张三</p>
                        <p>李四</p>
                        <p>王五</p>
                        <p>冯七</p>
                        <p>张三</p>
                        <p>李四</p>
                        <p>王五</p>
                        <p>冯七</p>
                        <p>张三</p>
                        <p>李四</p>
                        <p>王五</p>
                        <p>冯七</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-fr fl">
            <h4>从指定岗位复制权限</h4>
            <div class="powerCopy clearfix">
                <div>
                    <label for="">公司查询</label>
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <div>
                    <label for="">部门</label>
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <div>
                    <label for="">岗位</label>
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <div class="powerSel clearfix">
                <h4>手工指定权限</h4>
                <div class="powerSelBox">
                    <div class="fl">
                        <p>菜单</p>
                        <div class="nemuList">
                            <p><input type="checkbox"><label for="">业务范畴查询</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理</label></p>
                            <p><input type="checkbox"><label for="">层级位数查询</label></p>
                            <p><input type="checkbox"><label for="">合作伙伴分类</label></p>
                            <p><input type="checkbox"><label for="">合作伙伴管理</label></p>
                            <p><input type="checkbox"><label for="">业务范畴查询</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理</label></p>
                            <p><input type="checkbox"><label for="">层级位数查询</label></p>
                            <p><input type="checkbox"><label for="">合作伙伴分类</label></p>
                            <p><input type="checkbox"><label for="">合作伙伴管理</label></p>
                            <p><input type="checkbox"><label for="">业务范畴查询</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理</label></p>
                            <p><input type="checkbox"><label for="">层级位数查询</label></p>
                            <p><input type="checkbox"><label for="">合作伙伴分类</label></p>
                            <p><input type="checkbox"><label for="">合作伙伴管理</label></p>
                        </div>
                    </div>
                    <div class="fr">
                        <p>按钮</p>
                        <div class="btnList">
                            <p><input type="checkbox"><label for="">业务范畴查询-查看</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询-修改</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理-新增</label></p>
                            <p><input type="checkbox"><label for="">业务范畴查询-查看</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询-修改</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理-新增</label></p>
                            <p><input type="checkbox"><label for="">业务范畴查询-查看</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询-修改</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理-新增</label></p>
                            <p><input type="checkbox"><label for="">业务范畴查询-查看</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询-修改</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理-新增</label></p><p><input type="checkbox"><label for="">业务范畴查询-查看</label></p>
                            <p><input type="checkbox"><label for="">服务类别查询-修改</label></p>
                            <p><input type="checkbox"><label for="">信用等级管理-新增</label></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
