<div id="business" class="right_content">
    <div class="nav">
        <h2>服务类别查询</h2>
    </div>
    <div class="content clearfix">
        <div class="thead-outer clearfix">
            <div class="thead-core clearfix">
                <div class="thead-content clearfix">
                    <div class="no">序号</div>
                    <div class="business">服务类别</div>
                    <div class="description">描述</div>
                </div>
            </div>
        </div>
        <div class="body-box">
            <div class="bodyList clearfix">
                <div class="no">1</div>
                <div class="business">干线运输</div>
                <div class="description">干线运输</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">2</div>
                <div class="business">支线运输</div>
                <div class="description">支线运输</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">3</div>
                <div class="business">操作服务</div>
                <div class="description">操作服务</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">4</div>
                <div class="business">包装服务</div>
                <div class="description">包装服务</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">5</div>
                <div class="business">仓储服务</div>
                <div class="description">仓储服务</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">6</div>
                <div class="business">邮资快递</div>
                <div class="description">邮资快递</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">7</div>
                <div class="business">政府检验</div>
                <div class="description">政府检验</div>
            </div>
            <div class="bodyList clearfix">
                <div class="no">8</div>
                <div class="business">数据交换</div>
                <div class="description">数据交换</div>
            </div>
        </div>
    </div>
</div>
