<div id="user" class="right_content">
    <div class="nav">
        <h2>用户管理</h2>
    </div>
    <div class="content clearfix">
        <div class="searchBar">
            <label for="">姓名</label><input id="name" type="text">
            <label for="">工号</label><input id="" type="text">
            <label for="">邮箱前缀</label><input id="" type="text">
            <button id="search" type="button">搜索</button>
        </div>
        <div class="user clearfix">
            <div class="thead-outer clearfix">
                <div class="thead-core clearfix">
                    <div class="loginId">登录ID</div>
                    <div class="name">姓名</div>
                    <div class="number">工号</div>
                    <div class="company">所属公司</div>
                    <div class="department">所属部门</div>
                    <div class="post">岗位</div>
                    <div class="phone">手机号</div>
                    <div class="email">邮箱</div>
                </div>
            </div>
            <div class="body-box">
            </div>
            <div class="M-box4 fr"></div>
        </div>
    </div>
</div>
